/** var-page--nav for redt.php
 * =============================================================
 * *************** page--nav ***************
 * =============================================================
 */
.var-page--nav {
  position: fixed;
  top: 97%;
  right: 3%;
  width: 42px;
  z-index: 20;
  height: 146px;
  overflow: hidden;
  transition: all 0.2s;
  transform: translate(0, -100%);
}
.var-page--nav > * {
  margin: 5px 0px;
}
.var-page--nav a {
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  text-align: center;
  transition: all 0.2s;
  background: #ffffff;
  border: 1px solid #d1d1d1;
}
.var-page--nav > a[class="pagenav-btn-1"] {
  margin: -42px 0px 0px;
}
.pagenav-div {
  width: 42px;
  height: 42px;
  overflow: hidden;
  transition: all 0.2s;
}
.pagenav-div > a {
  transform: rotate(0deg);
}
.pagenav-div > ul {
  width: 40px;
  padding: 0px;
  margin: 5px 0px;
  list-style: none;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
}
.pagenav-div > ul > li {
  width: 100%;
  height: 30px;
}
.pagenav-div > ul > li > span {
  position: relative;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.pagenav-div > ul > li > span::before {
  position: absolute;
  content: "";
  top: auto;
  left: 50%;
  bottom: 0;
  width: 90%;
  transform: translate(-50%);
  border-bottom: 1px solid #d1d1d1;
}
.pagenav-div > ul > li > span[class="pagenav-span-4"]::before {
  border: none;
}
.pagenav-block {
  height: 273px;
}
.pagenav-block > .pagenav-div {
  height: 169px;
}
.pagenav-block > .pagenav-div > a {
  transform: rotate(180deg);
}
/** var-themes for redt.php
 * =============================================================
 * *************** themes ***************
 * =============================================================
 */
.var-themes {
  position: fixed;
  top: 0px;
  left: 100%;
  width: 90%;
  height: 100%;
  max-width: 500px;
  transition: all 0.4s;
  background: #ffffff;
  box-shadow: 0 0 3px #d1d1d1;
  z-index: 61;
}
.var-themes > h3 {
  margin: 0;
  height: 30px;
  padding: 10px;
  line-height: 30px;
  text-align: center;
  width: calc(100% - 20px);
  border-bottom: 1px solid #d1d1d1;
}
.var-themes > .var-themes-form {
  overflow-y: auto;
  padding: 0px 10px;
  width: calc(100% - 20px);
  height: calc(100% - 102px);
}
.var-themes > .var-themes-btn {
  height: 30px;
  padding: 5px 10px 15px;
  width: calc(100% - 20px);
  border-top: 1px solid #d1d1d1;
}
.var-themes > .var-themes-btn > a {
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
}
.var-themes-form > form {
  margin: 0;
  padding: 0;
}
.var-themes-form > form > * {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.var-themes-form > form > h3 {
  height: 30px;
  padding: 5px 0px;
  line-height: 30px;
}
.var-themes-form > form > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}
.var-themes-form > form > ul > li {
  display: block;
  width: calc(100% / 3 - 10px);
  padding-left: 10px;
}
.var-themes-nav {
  transition: all 0.4s;
  position: fixed;
  display: none;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 60;
}
body.body-themes > * {
  transform: translate(-500px);
}
body.body-themes .var-themes {
  transform: translate(-100%);
}
body.body-themes .var-themes-nav {
  display: block;
}
/** var-index for index.php
 * =============================================================
 * *************** index ***************
 * =============================================================
 */
.var-index {
  overflow-y: auto;
  transition: all 0.3s;
  width: calc(100 - 32px);
  height: calc(100% - 56px);
  padding: 16px 16px 40px 16px;
}
.var-index > * {
  margin: 0px auto;
  margin-bottom: 16px;
}
.var-index > .var-article {
  width: 100%;
  height: 200px;
  max-width: 1024px;
  background: #ffffff;
  box-shadow: 0 0 8px #d1d1d1;
}
.var-index > .var-index-pagenav {
  width: 100%;
  height: 30px;
  margin-bottom: 16px;
}
.var-index > .var-index-pagenav > a {
  display: block;
  float: left;
  width: 80px;
  height: 30px;
  margin: 0px 8px;
  line-height: 30px;
  text-align: center;
  background: #ffffff;
  text-decoration: none;
  box-shadow: 0 0 3px #d1d1d1;
}
.var-index > .var-index-pagenav > div {
  float: left;
  height: 30px;
  margin: 0px 8px;
  padding: 0px 4px;
  background: #ffffff;
  box-shadow: 0 0 3px #d1d1d1;
}
.var-index > .var-index-pagenav > div > input {
  padding: 0px;
  margin: 0px;
  float: left;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background: none;
  line-height: 30px;
  text-align: center;
}
.var-index > .var-index-pagenav > div > span {
  display: block;
  float: left;
  height: 30px;
  padding: 0px 4px;
  line-height: 30px;
}
.var-article > * {
  float: left;
}
.var-article > .var-artcle-top {
  width: calc(100% - 450px);
  position: relative;
  overflow: hidden;
  height: 200px;
}
.var-article > .var-artcle-top .var-artcle-top-img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 200px;
  transition: all 0.2s;
  background-size: cover;
  background-position: center;
}
.var-article > .var-artcle-top > .var-artcle-top-nav {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  border-right: 60px solid #fff;
  border-top: 200px solid transparent;
}
.var-article > .var-artcle-top > .var-artcle-top-btn {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 5px #a1a1a1;
  background: rgba(255, 255, 255, 0.8);
  transform: translate(-50%, -50%) rotate(45deg);
}
.var-article > .var-artcle-top > .var-artcle-top-btn,
.var-article > .var-artcle-top > .var-artcle-top-btn a {
  transition: all 0.2s;
}
.var-article > .var-artcle-top > .var-artcle-top-btn > a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transform: rotate(-45deg);
}
.var-article > .var-artcle-top > .var-artcle-top-btn:hover {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px #e1e1e1;
  transform: translate(-50%, -50%) rotate(90deg);
}
.var-article > .var-artcle-top > .var-artcle-top-btn:hover > a {
  text-shadow: 0 0 0px #e1e1e1;
  transform: rotate(-90deg);
}
.var-article > .var-artcle-top:hover .var-artcle-top-img {
  transform: scale(1.2);
}
.var-article > .var-artcle-content {
  width: 450px;
  height: 200px;
}
.var-article > .var-artcle-content > h3 {
  margin: 0px;
  height: 40px;
  padding: 0px 8px;
  line-height: 40px;
  width: calc(100% - 16px);
}
.var-article > .var-artcle-content > .var-artcle-content-div {
  width: 100%;
  height: calc(100% - 40px);
}
.var-artcle-content-div > ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  list-style: none;
}
.var-artcle-content-div > ul > li {
  float: left;
  height: 30px;
}
.var-artcle-content-div > ul > li > span {
  display: block;
  height: 30px;
  padding: 0px 4px;
}
.var-artcle-content-div > ul > li > span > * {
  float: left;
}
.var-artcle-content-div > ul > li > span > a {
  display: block;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
}
.var-artcle-content-div > ul > li > span > i {
  padding: 3px;
}
.var-artcle-content-div > .var-artcle-content-excertp {
  padding: 0px 8px 8px;
  width: calc(100% - 16px);
  height: calc(100% - 38px);
}
body {
  font-size: 0.96em;
  background: #f1f1f1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/** var-header for header.php
 * =============================================================
 * *************** header ***************
 * =============================================================
 */
.var-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 20;
  height: 50px;
  transition: all 0.3s;
  box-shadow: 0 0 8px #d1d1d1;
}
.var-header > * {
  position: absolute;
  width: 100%;
  height: 50px;
}
.var-toolbar {
  z-index: 2;
  top: 0;
  left: 50%;
  max-width: 1280px;
  transform: translate(-50%);
}
.var-toolbar > .mdui-typo-title {
  cursor: default;
}
.var-toolbar > .mdui-btn:hover {
  border-radius: 8px;
  background: rgba(60, 60, 60, 0.3);
}
.var-toolbar > .var-toolbar-admin > ul {
  list-style: none;
  position: fixed;
  display: none;
  top: 50px;
  width: 130px;
  padding: 4px 1px;
  margin: 4px 0px 0px;
  background: #ffffff;
  box-shadow: 0 0 3px #d1d1d1;
  transform: translate(-26%);
}
.var-toolbar > .var-toolbar-admin > ul > li {
  position: relative;
  width: 100px;
  height: 30px;
  padding-left: 30px;
}
.var-toolbar > .var-toolbar-admin > ul > li > a {
  display: block;
  width: 100px;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}
.var-toolbar > .var-toolbar-admin > ul > li > i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  transform: translate(0, 0);
}
.var-toolbar > .var-toolbar-admin:hover > ul {
  display: block;
}
.var-search {
  top: -50px;
  left: 50%;
  width: 90%;
  z-index: 100;
  transition: top 0.3s;
  transform: translate(-50%);
}
.var-search > form {
  width: 100%;
  height: 30px;
  margin: 10px auto;
  max-width: 1024px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 2px #d1d1d1;
}
.var-search a,
.var-search button,
.var-search input {
  background: none;
  display: block;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  height: 30px;
  float: right;
  line-height: 30px;
}
.var-search a,
.var-search button {
  cursor: pointer;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  color: #000 !important;
  transition: border-radius 0.2s;
}
.var-search a:hover,
.var-search button:hover {
  border-radius: 4px;
  color: #fff !important;
  background: rgba(60, 60, 60, 0.3);
}
.var-search input {
  width: calc(100% - 76px);
  padding: 0px 8px;
}
.search-block {
  top: 50px;
}
.var-footer {
  position: fixed;
  top: 100%;
  left: 240px;
  width: calc(100% - 240px);
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.3s;
  background: #ffffff;
  box-shadow: 2px -2px 2px 0px #d1d1d1;
}
.var-footer > a {
  text-decoration: none;
}
.footer-block {
  transform: translate(0, -100%);
}
body.mdui-theme-layout-dark .var-header,
body.mdui-theme-layout-dark .var-footer,
body.mdui-theme-layout-dark .var-themes,
body.mdui-theme-layout-dark .var-article,
body.mdui-theme-layout-dark .var-sidebar,
body.mdui-theme-layout-dark .var-comments,
body.mdui-theme-layout-dark .comments-body,
body.mdui-theme-layout-dark .var-page--post,
body.mdui-theme-layout-dark .var-search > form,
body.mdui-theme-layout-dark .var-index-pagenav > *,
body.mdui-theme-layout-dark .var-page--post-nav > a {
  background: #a1a1a1 !important;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) !important;
}
body.mdui-theme-layout-dark .comments-body {
  border-color: rgba(209, 209, 209, 0.35) !important;
}
body.mdui-theme-layout-dark .comments-body .comment-author {
  border-left-color: #2196f3 !important;
}
body.mdui-theme-layout-dark .var-footer {
  box-shadow: 2px -2px 2px 0px rgba(0, 0, 0, 0.7) !important;
}
body.mdui-theme-layout-dark .var-sidebar .var-sidebar-logo-img {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) !important;
}
body.mdui-theme-layout-dark .var-article .var-artcle-top-nav {
  border-right-color: #a1a1a1 !important;
}
body.mdui-theme-layout-dark .var-page--nav a,
body.mdui-theme-layout-dark .var-page--nav ul {
  background: #303030 !important;
}
.mdui-theme-accent-amber .page--post-content a,
.mdui-theme-accent-amber .mdui-text-color-theme-accent a {
  color: #ffd740 !important;
}
.mdui-theme-accent-amber .page--post-content a[href]::before {
  border-bottom-color: #ffd740 !important;
}
.mdui-theme-accent-blue .page--post-content a,
.mdui-theme-accent-blue .mdui-text-color-theme-accent a {
  color: #448aff !important;
}
.mdui-theme-accent-blue .page--post-content a[href]::before {
  border-bottom-color: #448aff !important;
}
.mdui-theme-accent-cyan .page--post-content a,
.mdui-theme-accent-cyan .mdui-text-color-theme-accent a {
  color: #18ffff !important;
}
.mdui-theme-accent-cyan .page--post-content a[href]::before {
  border-bottom-color: #18ffff !important;
}
.mdui-theme-accent-deep-orange .page--post-content a,
.mdui-theme-accent-deep-orange .mdui-text-color-theme-accent a {
  color: #ff6e40 !important;
}
.mdui-theme-accent-deep-orange .page--post-content a[href]::before {
  border-bottom-color: #ff6e40 !important;
}
.mdui-theme-accent-deep-purple .page--post-content a,
.mdui-theme-accent-deep-purple .mdui-text-color-theme-accent a {
  color: #7c4dff !important;
}
.mdui-theme-accent-deep-purple .page--post-content a[href]::before {
  border-bottom-color: #7c4dff !important;
}
.mdui-theme-accent-green .page--post-content a,
.mdui-theme-accent-green .mdui-text-color-theme-accent a {
  color: #69f0ae !important;
}
.mdui-theme-accent-green .page--post-content a[href]::before {
  border-bottom-color: #69f0ae !important;
}
.mdui-theme-accent-indigo .page--post-content a,
.mdui-theme-accent-indigo .mdui-text-color-theme-accent a {
  color: #536dfe !important;
}
.mdui-theme-accent-indigo .page--post-content a[href]::before {
  border-bottom-color: #536dfe !important;
}
.mdui-theme-accent-light-blue .page--post-content a,
.mdui-theme-accent-light-blue .mdui-text-color-theme-accent a {
  color: #40c4ff !important;
}
.mdui-theme-accent-light-blue .page--post-content a[href]::before {
  border-bottom-color: #40c4ff !important;
}
.mdui-theme-accent-light-green .page--post-content a,
.mdui-theme-accent-light-green .mdui-text-color-theme-accent a {
  color: #b2ff59 !important;
}
.mdui-theme-accent-light-green .page--post-content a[href]::before {
  border-bottom-color: #b2ff59 !important;
}
.mdui-theme-accent-lime .page--post-content a,
.mdui-theme-accent-lime .mdui-text-color-theme-accent a {
  color: #eeff41 !important;
}
.mdui-theme-accent-lime .page--post-content a[href]::before {
  border-bottom-color: #eeff41 !important;
}
.mdui-theme-accent-orange .page--post-content a,
.mdui-theme-accent-orange .mdui-text-color-theme-accent a {
  color: #ffab40 !important;
}
.mdui-theme-accent-orange .page--post-content a[href]::before {
  border-bottom-color: #ffab40 !important;
}
.mdui-theme-accent-pink .page--post-content a,
.mdui-theme-accent-pink .mdui-text-color-theme-accent a {
  color: #ff4081 !important;
}
.mdui-theme-accent-pink .page--post-content a[href]::before {
  border-bottom-color: #ff4081 !important;
}
.mdui-theme-accent-purple .page--post-content a,
.mdui-theme-accent-purple .mdui-text-color-theme-accent a {
  color: #e040fb !important;
}
.mdui-theme-accent-purple .page--post-content a[href]::before {
  border-bottom-color: #e040fb !important;
}
.mdui-theme-accent-red .page--post-content a,
.mdui-theme-accent-red .mdui-text-color-theme-accent a {
  color: #ff5252 !important;
}
.mdui-theme-accent-red .page--post-content a[href]::before {
  border-bottom-color: #ff5252 !important;
}
.mdui-theme-accent-teal .page--post-content a,
.mdui-theme-accent-teal .mdui-text-color-theme-accent a {
  color: #64ffda !important;
}
.mdui-theme-accent-teal .page--post-content a[href]::before {
  border-bottom-color: #64ffda !important;
}
.mdui-theme-accent-yellow .page--post-content a,
.mdui-theme-accent-yellow .mdui-text-color-theme-accent a {
  color: #ff0 !important;
}
.mdui-theme-accent-yellow .page--post-content a[href]::before {
  border-bottom-color: #ff0 !important;
}
/** var-sidebar for sidebar.php
 * =============================================================
 * *************** header ***************
 * =============================================================
 */
body.body-sidebar {
  position: fixed;
  top: 50px;
  left: 240px;
  transition: all 0.3s;
  height: calc(100% - 50px);
  width: calc(100% - 240px);
}
.var-sidebar {
  position: fixed;
  top: 80px;
  left: 0px;
  width: 240px;
  transition: all 0.3s;
  height: calc(100% - 80px);
  box-shadow: 0 0 8px #d1d1d1;
  border-top-right-radius: 8px;
  background: #ffffff;
}
.var-sidebar > .var-sidebar-logo {
  width: calc(100% - 32px);
  height: calc(180px - 32px);
  padding: 16px;
  padding-bottom: 0px;
}
.var-sidebar > .var-sidebar-logo > .var-sidebar-logo-img {
  width: 180px;
  height: 180px;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 16px;
  margin: -32px auto 0px;
  box-shadow: 0 0 8px #d1d1d1;
}
.var-sidebar > .var-sidebar-logo > .var-sidebar-logo-img > img {
  width: 100%;
  height: auto;
  background-size: cover;
}
.var-sidebar > .var-sidebar-div {
  width: calc(100% - 16px);
  height: calc(100% - 180px);
  padding: 8px;
}
.var-sidebar > .var-sidebar-div > span {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.var-sidebar > .var-sidebar-div > ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.var-sidebar > .var-sidebar-div > ul > li {
  height: 30px;
  width: 100%;
}
.var-sidebar > .var-sidebar-div .var-sidebar-div-li > a {
  display: block;
  width: auto;
  padding-left: 70px;
  cursor: pointer;
  height: 30px;
}
.var-sidebar > .var-sidebar-div .var-sidebar-div-li > a > * {
  float: left;
}
.var-sidebar > .var-sidebar-div .var-sidebar-div-li > a > i {
  padding: 3px;
}
.var-sidebar > .var-sidebar-div .var-sidebar-div-li > a > span {
  display: block;
  height: 30px;
  line-height: 30px;
}
.var-sidebar > .var-sidebar-div .var-sidebar-div-li > a:hover {
  padding-left: 67px;
  border-left: 3px solid #d1d1d1;
}
@media (max-width: 1024px) {
  body.body-sidebar {
    left: 80px;
    width: calc(100% - 80px);
  }
  body.body-sidebar .var-toolbar > .sidebar-btn {
    transform: rotate(90deg);
  }
  .var-sidebar {
    width: 80px;
  }
  .var-sidebar > .var-sidebar-logo {
    width: 60px;
    height: calc(60px - 32px);
    padding-left: 10px;
    padding-right: 10px;
  }
  .var-sidebar > .var-sidebar-logo > .var-sidebar-logo-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .var-sidebar .var-sidebar-div {
    height: calc(100% - 60px);
  }
  .var-sidebar .var-sidebar-div > span {
    display: none;
  }
  .var-sidebar .var-sidebar-div .var-sidebar-div-li {
    padding: 4px 0px;
  }
  .var-sidebar .var-sidebar-div .var-sidebar-div-li a {
    padding: 0px 17px;
  }
  .var-sidebar .var-sidebar-div .var-sidebar-div-li a > span {
    display: none;
  }
  .var-sidebar .var-sidebar-div .var-sidebar-div-li a:hover {
    padding-left: 14px;
  }
  .var-footer {
    left: 80px !important;
    width: calc(100% - 80px) !important;
  }
}
@media (max-width: 600px) {
  body.body-sidebar {
    left: 0px;
    width: 100%;
  }
  body.body-sidebar .var-toolbar > .sidebar-btn {
    transform: rotate(90deg);
  }
  .var-sidebar {
    width: 240px;
    transform: translate(-100%);
  }
  .var-footer {
    left: 0px !important;
    width: 100% !important;
  }
}
.var-sidebar-nav {
  position: fixed;
  display: none;
  z-index: 30;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.var-sidebar-nav-block {
  display: block;
}
/*----- end #sidebar--mini -----*/
.sidebar-mini {
  left: 80px !important;
  width: calc(100% - 80px) !important;
}
.sidebar-mini .var-toolbar > .sidebar-btn {
  transform: rotate(90deg);
}
.sidebar-mini .var-sidebar {
  width: 80px;
}
.sidebar-mini .var-sidebar > .var-sidebar-logo {
  width: 60px;
  height: calc(60px - 32px);
  padding-left: 10px;
  padding-right: 10px;
}
.sidebar-mini .var-sidebar > .var-sidebar-logo > .var-sidebar-logo-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.sidebar-mini .var-sidebar > .var-sidebar-div {
  height: calc(100% - 60px);
}
.sidebar-mini .var-sidebar > .var-sidebar-div > span {
  display: none;
}
.sidebar-mini .var-sidebar > .var-sidebar-div .var-sidebar-div-li {
  padding: 4px 0px;
}
.sidebar-mini .var-sidebar > .var-sidebar-div .var-sidebar-div-li a {
  padding: 0px 17px;
}
.sidebar-mini .var-sidebar > .var-sidebar-div .var-sidebar-div-li a > span {
  display: none;
}
.sidebar-mini .var-sidebar > .var-sidebar-div .var-sidebar-div-li a:hover {
  padding-left: 14px;
}
.sidebar-mini .var-footer {
  left: 80px !important;
  width: calc(100% - 80px) !important;
}
/*----- end #sidebar--normal -----*/
.sidebar-normal .var-toolbar > .sidebar-btn {
  transform: rotate(0deg) !important;
}
.sidebar-normal .var-sidebar {
  top: 0;
  z-index: 31;
  width: 240px;
  height: 100%;
  border-radius: 0px;
  background: #ffffff;
  transform: translate(0px);
}
.sidebar-normal .var-sidebar > .var-sidebar-logo {
  width: calc(100% - 32px);
  height: calc(180px - 32px);
  padding: 16px;
  padding-bottom: 0px;
}
.sidebar-normal .var-sidebar > .var-sidebar-logo > .var-sidebar-logo-img {
  width: 140px;
  height: 140px;
  margin: 0px auto;
}
.sidebar-normal .var-sidebar > .var-sidebar-div {
  height: calc(100% - 180px);
}
.sidebar-normal .var-sidebar > .var-sidebar-div .var-sidebar-div-li {
  padding: 2px 0px;
}
.sidebar-normal .var-sidebar > .var-sidebar-div .var-sidebar-div-li a {
  padding: 0px;
  padding-left: 30%;
}
.sidebar-normal .var-sidebar > .var-sidebar-div .var-sidebar-div-li a > span {
  display: block;
}
.sidebar-normal .var-sidebar > .var-sidebar-div .var-sidebar-div-li a:hover {
  padding-left: calc(30% - 3px);
}
/** var-page--post for page.php and post.php
 * =============================================================
 * *************** page-post ***************
 * =============================================================
 */
.var-page--post {
  width: 100%;
  max-width: 1240px;
  background: #ffffff;
  box-shadow: 0 0 3px #d1d1d1;
}
.var-page--post > .page--post-top {
  width: 100%;
  padding: 4px 0px 0px;
}
.var-page--post > .page--post-content {
  width: calc(100% - 16px);
  padding: 8px;
}
.page--post-top > h3 {
  margin: 0;
  width: calc(100% - 16px);
  height: 40px;
  font-size: 20px;
  padding: 0px 8px;
  line-height: 40px;
}
.page--post-top > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}
.page--post-top > ul > li {
  float: left;
  height: 30px;
  margin: 0px 4px;
}
.page--post-top > ul > li > * {
  float: left;
}
.page--post-top > ul > li > i {
  padding: 3px;
}
.page--post-top > ul > li > a {
  text-decoration: none;
  padding: 0px 3px;
  display: block;
  height: 30px;
  line-height: 30px;
}
@media (max-width: 600px) {
  .page--post-top > ul {
    height: 60px;
  }
  .page--post-top > ul > li:last-child {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .page--post-top > ul {
    height: 90px;
  }
  .page--post-top > ul > li {
    margin: 0px;
    width: 50%;
  }
}
.page--post-content h1 {
  font-size: 2em;
  margin: 8px 0px;
}
.page--post-content h2 {
  font-size: 1.8em;
  margin: 12px 0px;
}
.page--post-content h3 {
  font-size: 1.4em;
  margin: 15px 0px;
}
.page--post-content h4 {
  font-size: 1em;
  margin: 18px 0px;
}
.page--post-content h5 {
  font-size: 0.9em;
  margin: 20px 0px;
}
.page--post-content h6 {
  font-size: 0.8em;
  margin: 25px 0px;
}
.page--post-content p {
  padding: 0;
  margin: 8px 0px;
  line-height: 20px;
}
.page--post-content img {
  border: 0;
  padding: 0;
  height: auto;
  max-width: 100%;
  margin: 4px 0px;
  background-size: cover;
}
.page--post-content a {
  position: relative;
  text-decoration: none;
}
.page--post-content a[href]::before {
  position: absolute;
  content: "";
  top: auto;
  left: 50%;
  width: 0%;
  bottom: -4px;
  transition: width 0.3s;
  transform: translate(-50%);
  border-bottom: 1px solid #d1d1d1;
}
.page--post-content a[href]:hover::before {
  width: 100%;
}
.page--post-content pre {
  width: calc(100% - 10px);
  padding: 4px;
  margin: 8px 0px;
  overflow-x: auto;
  line-height: 25px;
  border: 1px solid #d1d1d1;
}
.page--post-content ol,
.page--post-content ul {
  margin: 8px 0px;
  padding-left: 30px;
  width: calc(100% - 30px);
  line-height: 25px;
}
.page--post-content ol li > ol,
.page--post-content ul li > ol,
.page--post-content ol li > ul,
.page--post-content ul li > ul {
  margin: 0px;
}
.page--post-content hr {
  border: none;
  padding: 0;
  width: 100%;
  height: 0px;
  margin: 4px 0px;
  background: none;
  border-top: 1px solid #d1d1d1;
}
.page--post-content blockquote {
  width: calc(100% - 30px);
  margin: 8px 0px;
  overflow-x: auto;
  line-height: 25px;
  margin-left: 10px;
  padding-left: 16px;
  border-left: 4px solid #d1d1d1;
}
.page--post-content blockquote p {
  margin: 0px;
  padding: 0px;
  margin-top: 4px;
  margin-bottom: 1px;
}
.page--post-content blockquote blockquote {
  margin: 0px;
  margin-left: 10px;
}
.var-page--post-nav {
  width: 100%;
  height: 30px;
  padding: 5px 0px;
}
.var-page--post-nav > a {
  display: block;
  float: left;
  width: 80px;
  height: 30px;
  margin: 0px 8px;
  line-height: 30px;
  text-align: center;
  background: #ffffff;
  text-decoration: none;
  box-shadow: 0 0 3px #d1d1d1;
}
@media (max-width: 600px) {
  .var-page--post-nav > a:last-child {
    float: right;
  }
}
/** var-comments for comments.php
 * =============================================================
 * *************** page-post ***************
 * =============================================================
 */
.var-comments {
  padding: 8px;
  width: calc(100 - 16px);
  max-width: calc(1240px - 16px);
  background: #ffffff;
  box-shadow: 0 0 3px #d1d1d1;
}
.var-comments > .var-comments-top {
  width: 100%;
  height: 30px;
}
.var-comments > .var-comments-top > a {
  float: left;
  height: 30px;
  display: block;
  text-decoration: none;
}
.var-comments > .var-comments-top > a span {
  display: block;
  float: left;
  height: 30px;
  font-size: 20px;
  padding: 0px 4px;
  line-height: 30px;
}
.var-comments > .var-comments-top > a span:last-child {
  opacity: 0;
  transition: all 0.2s;
  transform: translate(50%);
}
.var-comments > .var-comments-top > a:hover span:last-child {
  opacity: 1;
  transform: translate(0%);
}
.var-comments > .var-comments-ol {
  width: 100%;
}
.var-comments > .var-comments-ol > ol {
  padding: 0px;
  margin: 0px;
  width: 100%;
  list-style: none;
}
.var-comments > .var-comments-ol > ol .comments-body {
  width: ;
  height: ;
  margin: 16px 0px;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
}
.var-comments > .var-comments-body {
  width: 100%;
}
.var-comments > .var-comments-body > span {
  display: block;
  width: 100%;
  height: 25px;
  line-height: 25px;
}
.var-comments > .var-comments-body > form > .var-comments-form-top {
  width: 100%;
  height: 25px;
  line-height: 25px;
}
.var-comments > .var-comments-body > form > .var-comments-form-top > a {
  text-decoration: none;
}
.var-comments > .var-comments-body > form > .var-comments-form-top > span > span {
  cursor: default;
}
.var-comments > .var-comments-body > form > .var-comments-form-top > span > a {
  margin: 0px 8px;
  text-decoration: none;
}
.comments-body {
  width: ;
  height: ;
  margin: 16px 0px;
  border-radius: 4px;
  box-shadow: 0 0 3px #d1d1d1;
}
.comments-body > .comments-top {
  width: 100%;
  height: 60px;
}
.comments-body > .comments-top > * {
  float: left;
}
.comments-body > .comments-top > img {
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 4px #d1d1d1;
}
.comments-body > .comments-top > ul {
  width: calc(100% - 60px);
  list-style: none;
  height: 60px;
  padding: 0px;
  margin: 0px;
}
.comments-body > .comments-top > ul > li {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.comments-body > .comments-top > ul > li a {
  text-decoration: none;
}
.comments-body > .comments-content {
  margin: 0px;
  padding: 0px 8px;
  width: calc(100% - 16px);
}
.comments-body > .comments-content > p {
  width: 100%;
  margin: 4px 0px;
  line-height: 25px;
}
.comments-body > .comment-children {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.comments-body > .comment-children > ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.comments-body > .comment-children > ol > .comments-body {
  width: calc(100% - 26px);
  margin: 8px;
  padding-left: 5px;
  border-left: 5px solid #d1d1d1;
}
.comments-body > .comment-children > ol > .comment-author {
  border-left-color: #2196f3;
}
.var-comments-body .var-comments-input {
  width: 100%;
  height: 146px;
  display: table;
  position: relative;
}
.var-comments-body .var-comments-input > ul {
  float: left;
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 240px;
}
.var-comments-body .var-comments-input > ul > li {
  width: calc(100% - 2px);
  height: 30px;
  margin: 4px 0px;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
}
.var-comments-body .var-comments-input > ul > li > i {
  float: left;
  padding: 3px;
  color: #515151;
  cursor: default;
}
.var-comments-body .var-comments-input > ul > li > input {
  background: none;
  display: block;
  outline: none;
  border: none;
  float: left;
  margin: 0px;
  padding: 0px;
  height: 30px;
  padding-left: 4px;
  line-height: 30px;
  width: calc(100% - 35px);
  border-left: 1px solid #d1d1d1;
}
.var-comments-body .var-comments-input > .var-comments-remember {
  float: left;
  padding: 4px;
  width: calc(100% - 248px);
  height: calc(146px - 8px);
}
.var-comments-body .var-comments-input > .var-comments-remember > textarea {
  padding: 4px;
  resize: none;
  outline: none;
  background: none;
  line-height: 20px;
  border-radius: 4px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #d1d1d1;
}
.var-comments-body .var-comments-input > input {
  position: absolute;
  background: none;
  outline: none;
  left: 0px;
  top: 112px;
  width: 240px;
  height: 30px;
  border-radius: 4px;
}
@media (max-width: 600px) {
  .var-comments-body .var-comments-input > ul {
    width: 100%;
    float: none;
  }
  .var-comments-body .var-comments-input > .var-comments-remember {
    float: none;
    width: 100%;
    padding: 0px;
  }
  .var-comments-body .var-comments-input > input {
    position: relative;
    margin: 4px 0px;
    width: 100%;
    top: 0px;
  }
}