@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

input,
button,
textarea {
	outline: none;
}

input[type="submit"] {
	cursor: pointer;
}

body {
	font-size: .96em;
	background: #fafafa;
}

@media (min-width: 600px) {
	/* | width > 1024 | */
	.min-600-none {
		display: none !important;
	}
}

@media (min-width: 10240px) {
	/* | width < 1024 | */
	.min-1024-none {
		display: none !important;
	}
}


/**
 * ===============================================
 * ***********	header	**************
 * ===============================================
 */

header.var-header {
	z-index: 60;
	width: 100%;
	height: 50px;
	position: relative;
	background: #e1e1e1;
	border-bottom: 1px solid #d1d1d1;
	box-shadow: 0 2px 2px #b1b1b1;
	z-index: 150;
}

.var-toolbar {
	position: absolute;
	top: 0;
	left: 50%;
	width: 100%;
	height: 50px;
	line-height: 50px;
	max-width: 1280px;
	background: #e1e1e1;
	transform: translate(-50%);
	z-index: 58;
}

.var-toolbar>a {
	margin: 0 4px;
}

.var-toolbar>a:hover {
	border-radius: 3px;
}

.var-toolbar-div {
	position: relative;
	width: 35px;
	height: 35px;
	margin: 0 4px;
	cursor: pointer;
	border-radius: 50%;
}

.var-toolbar-div>a {
	display: block;
	width: 35px;
	height: 35px;
}

.var-login-div {
	position: fixed;
	padding: 8px;
	display: none;
	transform: translate(-77%);
}

.var-toolbar-div:hover>.var-login-div {
	display: block;
}

.var-login-div>ul {
	padding: 8px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 3px #b1b1b1;
	list-style: none;
}

.var-login-div-span {
	width: 150px;
	height: 40px;
	line-height: 40px;
}

.var-login-div-span>img {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.var-login-div-span>span {
	float: left;
	height: 40px;
	line-height: 40px;
	padding-left: 16px;
	display: inline-block;
}

.var-login-div li {
	height: 30px;
	line-height: 30px;
	padding: 8px 0;
}

.var-login-div a>i {
	padding: 3px;
	margin-right: 8px;
}


/*| end #header -> toolbar |*/

.var-search {
	position: absolute;
	top: 0;
	left: 50%;
	width: 100%;
	height: 50px;
	line-height: 50px;
	max-width: 1280px;
	transition: all .3s;
	transform: translate(-50%);
	z-index: 56;
}

.var-search-block {
	top: 50px;
}

.var-search>form {
	width: calc(100% - 4px);
	height: 30px;
	padding: 2px;
	display: block;
	margin: 8px 0;
	background: #fff;
	line-height: 30px;
	border-radius: 5px;
	transition: all .3s;
}

.var-search-block>form {
	box-shadow: 0 0 3px #b1b1b1;
}

.var-search a,
.var-search input,
.var-search button {
	background: none;
	display: block;
	border: none;
	float: left;
	height: 30px;
	line-height: 30px;
}

.var-search a,
.var-search button {
	width: 30px;
	text-align: center;
	border-radius: 50%;
	transition: all .3s;
	cursor: pointer;
}

.var-search a:hover,
.var-search button:hover {
	border-radius: 5px;
	background: #e1e1e1;
}

.var-search input {
	width: calc(100% - 60px);
}


/*| end #header -> search |*/


/**
 * ===============================================
 * ***********	sidebar	**************
 * ===============================================
 */

body.var-body-sidebar {
	position: fixed;
	top: 0;
	left: 240px;
	width: calc(100% - 240px);
	height: 100%;
	transition: all .3s;
}

.var-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 239px;
	height: 100%;
	transition: all .3s;
	border-right: 1px solid #d1d1d1;
	background: #fff;
	z-index: 200;
}

.var-sidebar-top {
	width: 100%;
	height: 200px;
	background-image: linear-gradient(25deg, #ccffff 0%, #ccccff 100%);
}

.var-sidebar-top-btn {
	width: calc(100% - 20px);
	height: 30px;
	padding: 10px;
}

.var-sidebar-top-btn>a {
	float: right;
	margin: 0 auto;
	width: 30px;
	height: 30px;
	display: block;
	cursor: pointer;
	border-radius: 50%;
	transition: all .2s;
}

.var-sidebar-top-btn>a:hover {
	border-radius: 3px;
	background: rgba(0, 0, 0, .2);
}

.var-sidebar-top-btn a>i {
	padding: 3px;
}

.var-sidebar-top-logo {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 16px;
	transition: all .2s;
	box-shadow: 0 2px 5px #d1d1d1;
}

.var-sidebar-top-logo>img {
	width: 100%;
	background-size: cover;
}

.var-sidebar-content {
	width: 100%;
	height: calc(100% - 200px);
	overflow-y: auto;
}

.var-sidebar-content>span {
	display: block;
	min-height: 35px;
	line-height: 35px;
	padding: 0 16px;
	padding-top: 50px;
	text-align: center;
	color: #a1a1a1;
}

.var-sidebar-content>ul {
	padding-left: 30%;
	width: 70%;
	height: auto;
	display: table;
	list-style: none;
}

.var-sidebar-content-li {
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding: 4px 0;
}

.var-sidebar-content-li a>i {
	padding: 3px;
	margin-right: 8px;
	float: left;
}

.var-sidebar-content-li a>span {
	float: left;
	height: 30px;
	line-height: 30px;
}

.sidebar-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 175;
	display: none;
	background: rgba(0, 0, 0, .1);
}

.sidebar-nav-block {
	display: block;
}

@media (max-width: 1024px) {
	body.var-body-sidebar {
		left: 70px;
		width: calc(100% - 70px);
	}
	.var-sidebar {
		width: 69px;
	}
	.var-sidebar-top-btn>a {
		float: none;
		transform: rotate(180deg);
	}
	.var-sidebar-top-logo {
		width: 60px;
		height: 60px;
		margin-top: 40px;
		border-radius: 50%;
	}
	.var-sidebar-content>span,
	.var-sidebar-content-li span {
		display: none;
	}
	.var-sidebar-content>ul {
		padding-left: 19px;
		widows: 50px;
	}
	.var-sidebar-content-li {
		padding: 10px 0;
	}
}

@media (max-width: 600px) {
	body.var-body-sidebar {
		left: 0px;
		width: 100%;
	}
	.var-sidebar {
		width: 86%;
		max-width: 240px;
		min-width: 190px;
		transform: translate(-100%);
	}
	.var-sidebar-top-btn>a {
		float: right;
		transform: rotate(0deg);
	}
	.var-sidebar-top-logo {
		width: 180px;
		height: 180px;
		margin-top: 0px;
		border-radius: 8px;
	}
	.var-sidebar-content>ul {
		padding-top: 30px;
	}
	.var-sidebar-content-li {
		padding: 4px 0;
	}
	.var-sidebar-content-li span {
		display: inline-block;
	}
}


/* | end #sidebar | */

.var-body-sidebar-normal .var-sidebar {
	width: 86%;
	max-width: 239px;
	min-width: 190px;
	transform: translate(0%);
}

.var-body-sidebar-normal .var-sidebar-top-btn>a {
	float: right;
	transform: rotate(0deg);
}

.var-body-sidebar-normal .var-sidebar-top-logo {
	width: 180px;
	height: 180px;
	margin-top: 0px;
	border-radius: 8px;
}

.var-body-sidebar-normal .var-sidebar-content>ul {
	padding-top: 30px;
}

.var-body-sidebar-normal .var-sidebar-content-li {
	padding: 4px 0;
}

.var-body-sidebar-normal .var-sidebar-content-li span {
	display: inline-block;
}


/* | end #sidebar -> normal | */

body.var-body-sidebar-mine {
	left: 70px;
	width: calc(100% - 70px);
}

.var-body-sidebar-mine .var-sidebar {
	width: 69px;
}

.var-body-sidebar-mine .var-sidebar-top-btn>a {
	float: none;
	transform: rotate(180deg);
}

.var-body-sidebar-mine .var-sidebar-top-logo {
	width: 60px;
	height: 60px;
	margin-top: 40px;
	border-radius: 50%;
}

.var-body-sidebar-mine .var-sidebar-content>span,
.var-body-sidebar-mine .var-sidebar-content-li span {
	display: none;
}

.var-body-sidebar-mine .var-sidebar-content>ul {
	padding-left: 19px;
	widows: 50px;
}

.var-body-sidebar-mine .var-sidebar-content-li {
	padding: 10px 0;
}


/* | end #sidebar -> mine | */

.var-other-nav {
	position: fixed;
	top: 97%;
	right: 3%;
	width: 50px;
	height: 170px;
	overflow: hidden;
	transform: translate(0, -100%);
}

.var-other-nav,
.var-other-nav>* {
	transition: all .3s;
}

.var-other-nav a {
	cursor: pointer;
	display: block;
	height: 48px;
	width: 48px;
	background: #fff;
	line-height: 48px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin: 5px 0;
}

.var-other-nav a[class="var-other-btn-1"] {
	margin-top: -55px;
}

.var-other-nav a>i {
	font-size: 30px;
}

.var-other-div {
	width: 50px;
	height: 50px;
	margin: 5px 0;
	overflow: hidden;
}

.var-other-div>a {
	margin: 0;
}

.var-other-div>ul {
	width: 48px;
	margin-top: 5px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #ddd;
}

.var-other-div li {
	width: 100%;
	height: 30px;
	line-height: 30px;
}

.var-other-div li>span {
	cursor: pointer;
	display: block;
	width: 48px;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	position: relative;
}

.var-other-div li>span::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	top: auto;
	width: 75%;
	transform: translate(-50%);
	border-bottom: 1px solid #c1c1c1;
}

.var-other-div li>span[class="before-none"]::before {
	border-bottom: none;
}

.var-other-nav-block {
	height: 297px;
}

.var-other-div-block {
	height: 177px;
}


/**
 * ===============================================
 * ***********	index	**************
 * ===============================================
 */

.var-index {
	position: absolute;
	overflow-y: auto;
	width: 100%;
	height: calc(100% - 50px);
}

.var-arrticle {
	width: calc(100% - 16px);
	padding: 0 8px;
	display: table;
	margin: 0 auto;
	max-width: 1280px;
	min-height: calc(100% - 41px);
}

.arrticle {
	width: calc(100% - 16px);
	max-width: 1024px;
	height: 200px;
	margin: 16px auto;
	box-shadow: 0 1px 4px #d1d1d1;
	background: #fff;
}

.arrticle>* {
	float: left;
}

.arrticle-img {
	position: relative;
	width: calc(100% - 466px);
	height: 200px;
	overflow: hidden;
}

.arrtitle-a-img {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all .3s;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.arrticle-img-nav {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	box-shadow: 0 1px 3px #a1a1a1;
	background: rgba(255, 255, 255, .8);
	transform: translate(-50%, -50%) rotate(45deg);
	transition: all .2s;
}

.arrticle-img-nav>a {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	transition: all .2s;
	transform: rotate(-45deg);
}

.arrticle-img-nav:hover {
	transform: translate(-50%, -50%) rotate(90deg);
	background: rgba(0, 0, 0, .3);
	box-shadow: 0 0 3px #fff;
}

.arrticle-img-nav:hover>a {
	transform: rotate(-90deg);
}

.arrticle-img:hover>a>.arrtitle-a-img {
	transform: scale(1.2);
}

.arrticle-img-nav-nav {
	position: absolute;
	top: 0;
	right: 0;
	border-right: 60px solid #fff;
	border-top: 200px solid transparent;
}

.arrticle-content {
	padding: 8px;
	width: 450px;
	height: calc(200px - 16px);
}

.arrticle-content>h3 {
	display: block;
	height: 40px;
	width: calc(100% - 16px);
	padding: 0 8px;
	font-size: 28px;
	font-weight: 510;
	line-height: 40px;
}

.arrticle-content-ul {
	width: 100%;
	display: table;
	height: calc(100% - 40px);
}

.arrticle-content-ul>ul {
	width: 100%;
	height: 30px;
	line-height: 30px;
	list-style: none;
}

.arrticle-content-ul ul>li {
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right: 5px;
}

.arrticle-content-ul li i {
	padding: 5px;
}

.arrticle-content-span {
	width: 100%;
	height: calc(100% - 30px);
	line-height: 20px;
}

@media (max-width: 900px) {
	.arrticle-img {
		width: calc(100% - 366px);
	}
	.arrticle-content {
		width: 350px;
	}
	.arrticle-content-ul>ul {
		height: 60px;
	}
	.arrticle-content-ul ul>li {
		width: calc(50% - 5px);
	}
	.arrticle-content-span {
		height: calc(100% - 60px);
	}
}

@media (max-width: 700px) {
	.var-arrticle {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.arrticle {
		height: 400px;
	}
	.arrticle>* {
		float: none;
	}
	.arrticle-img {
		width: 100%;
	}
	.arrticle-img-nav-nav {
		display: none;
	}
	.arrticle-content {
		width: calc(100% - 8px);
		padding: 0 4px;
	}
}


/* | end #index | */

.var-archive-title {
	padding: 8px;
	margin: 8px;
	width: calc(100% - 40px);
	height: 40px;
	line-height: 40px;
	border-left: 8px solid #a1a1a1;
	background: #fff;
	box-shadow: 0 2px 3px #a1a1a1;
}

.var-arrticle-div {
	max-width: 1024px;
	width: calc(100% - 16px);
	min-height: calc(100% - 129px);
	padding: 0 8px 16px;
	margin: 0 auto;
}


/* | end #index -> archive | */

.var-page {
	width: calc(100% - 64px);
	height: 30px;
	padding: 8px;
	margin: 8px;
}

.page-navigator {
	display: table;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	list-style: none;
}

.page-navigator>li {
	float: left;
	width: 26px;
	height: 28px;
	margin: 0 1px;
	cursor: pointer;
	line-height: 28px;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.page-navigator>li[class="next"],
.page-navigator>li[class="prev"] {
	width: 70px;
}


/**
 * ===============================================
 * ***********	post _-_ page	**************
 * ===============================================
 */

.var-post-page {
	width: calc(100% - 16px);
	margin: 0 auto;
	padding: 0 8px;
	max-width: 1440px;
	min-height: calc(100% - 41px);
	display: table;
}

.post-page-top {
	width: calc(100% - 16px);
	margin: 16px auto;
	padding: 8px;
	max-width: 1280px;
	background: #fff;
	box-shadow: 0 2px 3px #a1a1a1;
}

.post-page-title {
	width: 100%;
	display: table;
}

.post-page-title>h3 {
	display: block;
	width: calc(100% - 32px);
	height: 40px;
	padding: 0 16px;
	line-height: 40px;
	font-size: 25px;
	font-weight: 500;
}

.post-page-title>ul {
	display: table;
	width: 100%;
	height: 30px;
	list-style: none;
	line-height: 30px;
}

.post-page-title ul>li {
	height: 30px;
	margin: 0 8px;
	float: left;
}

.post-page-title li>i {
	padding: 3px;
}

.post-page-title li>a {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 4px;
}

.post-page-content {
	width: calc(100% - 16px);
	height: auto;
	padding: 8px;
}

.post-page-content>* {
	margin: 8px 0;
}

.post-page-content h1,
.post-page-content h2,
.post-page-content h3,
.post-page-content h4,
.post-page-content h5,
.post-page-content h6 {
	width: calc(100% - 16px);
	padding: 0 8px;
	font-weight: 540;
}

.post-page-content h1 {
	height: 40px;
	line-height: 40px;
	margin: 14px 0;
}

.post-page-content h2 {
	height: 36px;
	line-height: 36px;
	margin: 12px 0;
}

.post-page-content h3 {
	height: 32px;
	line-height: 32px;
	margin: 10px 0;
}

.post-page-content h4 {
	margin: 8px 0;
	height: 28px;
	line-height: 28px;
}

.post-page-content h5 {
	height: 24px;
	line-height: 24px;
	margin: 6px 0;
}

.post-page-content h6 {
	margin: 4px 0;
	height: 20px;
	line-height: 20px;
}

.post-page-content p {
	width: 100%;
	line-height: 24px;
}

.post-page-content blockquote {
	width: calc(100% - 20px);
	border-left: 4px solid #d1d1d1;
	padding-left: 8px;
}

.post-page-content>blockquote {
	margin: 8px 0;
	margin-left: 8px;
}

.post-page-content ul,
.post-page-content ol {
	width: calc(100% - 44px);
	border-left: 4px solid #d1d1d1;
	line-height: 24px;
	padding-left: 40px;
}

.post-page-content hr {
	background: none;
	border: none;
	width: 100%;
	height: 0px;
	border-top: 1px solid #d1d1d1;
	margin: 8px 0;
}

.post-page-content pre {
	border: 1px solid #d1d1d1;
	width: calc(100% - 18px);
	padding: 8px;
}

.post-page-btn {
	width: 100%;
	height: 30px;
	margin: 16px 0;
	padding: 8px 0;
	line-height: 30px;
}

.post-page-btn>a {
	display: block;
	float: left;
	margin: 0 8px;
	width: 80px;
	height: 30px;
	background: #fff;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 0 3px #a1a1a1;
}


/* | end #post-page | */

.var-comments {
	width: calc(100% - 16px);
	max-width: 1280px;
	margin: 16px auto;
	padding: 8px;
	background: #fff;
	box-shadow: 0 2px 3px #a1a1a1;
	display: table;
}

.var-comments-top {
	height: 40px;
	padding: 8px;
	width: calc(100% - 16px);
	position: relative;
}

.var-comments-top::before {
	content: " ";
	position: absolute;
	top: auto;
	bottom: 0;
	left: 50%;
	width: 95%;
	transform: translate(-50%);
	border-bottom: 1px solid #ddd;
}

.var-comments-top>a {
	height: 40px;
	line-height: 40px;
	font-size: 25px;
}

.var-comments-top>ol {
	float: right;
	display: inline-block;
}

.var-comments-top a>span {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	margin-left: 20px;
	transition: all .2s;
	opacity: 0;
}

.var-comments-top>a:hover>span {
	opacity: 1;
	margin: 0;
}

.var-comments-ol {
	width: calc(100% - 16px);
	padding: 0 8px;
}

.var-comments-ol ol,
.var-comments-ol ul {
	list-style: none;
}

.var-comments-form-top {
	width: 100%;
	height: 30px;
}

.var-comments-form-top>span {
	float: left;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	margin-right: 20px;
}

.var-comments-form-top>a {
	display: inline-block;
	width: 78px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #d1d1d1;
	float: left;
}

.var-comments-form-top>ol {
	display: inline-block;
	float: right;
}

.var-comments-form>form {
	width: 100%;
}

.var-comments-form-admin {
	width: 100%;
	height: 174px;
}

.var-comments-form-admin>span {
	display: inline-block;
	width: calc(100% - 16px);
	padding: 0 8px;
	height: 30px;
	line-height: 30px;
}

.var-comments-form-admin>span>a {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 8px;
}

.var-comments-form-admin>.var-comments-form-remember {
	width: calc(100% - 16px);
	padding: 8px;
	height: 100px;
}

.var-comments-form-admin>.var-comments-form-remember>textarea {
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	resize: none;
	line-height: 25px;
}

.var-comments-form-admin>input {
	width: 198px;
	height: 28px;
	margin-left: 8px;
	line-height: 28px;
	background: #f1f1f1;
	border: 1px solid #ddd;
}

.var-comments-form-div {
	position: relative;
}

.var-comments-form-div>ul {
	list-style: none;
	width: 210px;
	float: left;
	height: 128px;
}

.var-comments-form-div ul>li {
	width: 200px;
	height: 25px;
	margin: 4px;
	border: 1px solid #ddd;
}

.var-comments-form-div li>input {
	border: none;
	display: block;
	background: none;
	width: 100%;
	height: 25px;
	line-height: 25px;
}

.var-comments-form-div>.var-comments-form-remember {
	width: calc(100% - 210px);
	float: left;
	height: 128px;
}

.var-comments-form-div>.var-comments-form-remember>textarea {
	width: calc(100% - 18px);
	height: calc(100% - 18px);
	margin: 4px;
	padding: 4px;
	line-height: 25px;
	resize: none;
}

.var-comments-form-div>input {
	position: absolute;
	top: 93px;
	left: 0;
	width: 202px;
	height: 27px;
	line-height: 23px;
	border: 1px solid #ddd;
	background: #f1f1f1;
	margin: 4px;
}


/* | end $comments | */

.comments {
	margin: 16px 0;
	padding: 10px;
	width: calc(100% - 20px);
	box-shadow: 0 0 1px #000;
	border-radius: 8px;
}

.comments-for .comments {
	border: noen;
}

.comments-top {
	width: 100%;
	height: 60px;
	display: table;
}

.comments-top>img {
	float: left;
	margin: 2.5px;
	height: 55px;
	width: 55px;
	border-radius: 50%;
	box-shadow: 0 0 2px #aaa;
}

.comments-top>ul {
	float: left;
	width: calc(100% - 60px);
	height: 60px;
}

.comments-top ul>li {
	width: 100%;
	height: 30px;
	line-height: 30px;
}

.comments-top ul>li>a {
	opacity: 0;
	margin-left: 20px;
	transition: all .2s;
}

.comments-top li:hover>a {
	opacity: 1;
	margin-left: 00px;
}

.comments-top li>span>i {
	padding: 3px;
}

.comments-content {
	padding: 0 8px;
	width: calc(100% - 16px);
	line-height: 30px;
}

.comments-for .comments {
	width: calc(100% - 25px);
	padding: 5px;
	margin: 8px;
	margin-left: 5px;
	margin-right: 10px;
	border-left: 5px solid #ccc;
}

.comments-for .comment-by-author {
	border-left: 5px solid #8cf;
}

@media (max-width: 600px) {
	
}

/* | end #post-page -> comments | */


/**
 * ===============================================
 * ***********	footer	**************
 * ===============================================
 */

.var-footer {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #d1d1d1;
	text-align: center;
}