@charset "utf-8";
ol,
ul {
	margin: 0;
	padding: 0;
}

ol[class='list-none'],
ul[class='list-none'] {
	list-style: none;
}

hr {
	padding: 0;
	width: 100%;
	height: 0px;
	border: none;
	margin: 4px 0px;
	background: none;
	border-bottom: 1px solid #b1b1b1;
}

body {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@media (min-width: 1024px) {
	.min-1024-none {
		display: none !important;
	}
}


/**
 * ==========================================================
 * ************ header ************ 
 * ========================================================== 
 */

header.var-header {
	width: 100%;
	height: 50px;
	box-shadow: 0 0 2px #b1b1b1;
	border-bottom: 1px solid #b1b1b1;
	background: rgba(255, 255, 255, .7);
}

.var-toolbar {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	max-width: 1280px;
}

.var-toolbar>a,
.var-toolbar>.mdui-btn {
	margin: 0px;
}

.var-toolbar>a[class='mdui-typo-title'] {
	height: 50px;
	background: none;
	line-height: 50px;
}

.var-toolbar>a:hover {
	border-radius: 3px;
	background: rgba(60, 60, 60, .2);
}

.var-toolbar>a[class='mdui-typo-title']:hover {
	background: none;
}

.var-header-admin {
	position: relative;
	margin: 0;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
}

.var-header-admin a {
	text-decoration: none;
}

.var-header-admin>div {
	position: fixed;
	display: none;
	padding: 8px;
	top: 50px;
	width: calc(100% - 16px);
	max-width: 150px;
}

.var-header-admin:hover>div {
	display: block;
}

.var-header-admin>div>ul {
	padding: 8px;
	background: #fff;
	width: calc(100% - 16px);
	box-shadow: 0 0 3px #a1a1a1;
}

.var-header-admin ul>li>i {
	padding: 3px;
}

.var-header-admin ul>li>a {
	width: calc(100% - 34px);
	padding-left: 4px;
	float: left;
	color: #08f;
}
.var-header-admin ul>li>a:hover{
	color: #f00;
}
@media (max-width: 1617px) {
	.var-header-admin>div {
		right: 0;
	}
}

.var-header-admin ul>li {
	height: 30px;
	padding: 2px 0;
}

.var-header-admin li>img {
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	box-shadow: 0 0 3px #b1b1b1;
}

.var-header-admin li>i {
	padding: 3px;
	float: left;
}

.var-header-admin li>a {
	display: block;
	float: left;
	width: calc(100% - 30px);
	height: 30px;
	line-height: 30px;
	text-align: left;
}


/*  end #haeder->toolbar  */

.var-search {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 1;
	width: calc(100% - 8px);
	height: 35px;
	margin: 0 auto;
	background: #f00;
	max-width: 1100px;
	border-radius: 4px;
	transition: all .2s;
	transform: translate(-50%, -100%);
	box-shadow: 0 0 3px #a1a1a1;
}

.var-search-block {
	transform: translate(-50%, 60px);
}

.var-search>form {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 35px;
	background: #fff;
	border-radius: 4px;
}

.var-search>form>a,
.var-search>form>input,
.var-search>form>button {
	line-height: 35px;
	background: none;
	display: block;
	outline: none;
	border: none;
	float: right;
	height: 35px;
	padding: 0;
	margin: 0;
}

.var-search>form>a,
.var-search>form>button {
	transition: all .2s;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	width: 35px;
}

.var-search>form>a:hover,
.var-search>form>button:hover {
	border-radius: 4px;
	background: rgba(60, 60, 60, .2);
}

.var-search>form>input {
	width: calc(100% - 70px);
}


/**
 * ==========================================================
 * ************ index ************ 
 * ========================================================== 
 */

.var-index {
	width: 100%;
	height: calc(100% - 51px);
	overflow-y: auto;
}

.var-article {
	padding: 8px;
	margin: 8px auto;
	width: calc(100% - 32px);
	min-height: calc(100% - 74px);
}

.arrticle {
	width: calc(100% - 16px);
	height: 200px;
	margin: 0 auto;
	background: #fff;
	max-width: 1024px;
	margin-bottom: 16px;
	box-shadow: 0 0 3px #a1a1a1;
}

.arrticle-top {
	width: calc(100% - 466px);
	position: relative;
	overflow: hidden;
	height: 200px;
	float: left;
}

.arrtitle-a-img {
	width: 100%;
	height: 200px;
	transition: all .2s;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.arrtitle-a-img:hover {
	transform: scale(1.2);
}

.arrticle-top-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	cursor: pointer;
	line-height: 50px;
	transition: all .2s;
	box-shadow: 0 0 3px #a1a1a1;
	background: rgba(255, 255, 255, .7);
	transform: translate(-50%, -50%) rotate(45deg);
}

.arrticle-top-btn>a {
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	transition: all .2s;
	transform: rotate(-45deg);
	color: #08f;
}

.arrticle-top-btn:hover {
	background: rgba(0, 0, 0, .2);
	box-shadow: 0 0 3px #f1f1f1;
	transform: translate(-50%, -50%) rotate(90deg);
}

.arrticle-top-btn:hover>a {
	color: #f00;
	transform: rotate(-90deg);
}

.arrticle-top-nav {
	position: absolute;
	top: 0;
	right: 0;
	border-right: 60px solid #fff;
	border-top: 200px solid transparent;
}

.arrticle-content {
	float: left;
	padding: 8px;
	width: 450px;
	height: 184px;
}

.arrticle-content>h3 {
	width: calc(100% - 16px);
	height: 40px;
	margin: 0px;
	display: block;
	font-size: 20px;
	padding: 0px 8px;
	line-height: 40px;
	cursor: default;
}

.arrticle-content-ul {
	width: 100%;
	height: calc(100% - 40px);
}

.arrticle-content-ul>ul {
	width: 100%;
	height: 30px;
	list-style: none;
}

.arrticle-content-ul>ul>li {
	float: left;
}

.arrticle-content-ul li>span {
	height: 30px;
	display: block;
	line-height: 30px;
	padding: 0px 4px;
}

.arrticle-content-ul span>i {
	float: left;
	padding: 3px;
}

.arrticle-content-ul span>a {
	display: block;
	margin: 0px;
	float: left;
	height: 30px;
	padding: 0px 2px;
	line-height: 30px;
	text-decoration: none;
}

.arrticle-content-excertp {
	width: 100%;
	overflow: hidden;
	line-height: 23px;
	height: calc(100% - 30px);
}

.var-article-pagenav {
	width: 100%;
	height: 30px;
	display: table;
}

.var-article-pagenav>a {
	color: #08f;
	display: block;
	float: left;
	width: 78px;
	height: 28px;
	margin: 0 8px;
	background: #fff;
	line-height: 28px;
	text-align: center;
	text-decoration: none;
	border: 1px solid rgba(161, 161, 161, .5);
}

.var-article-pagenav>a:hover {
	color: #f00;
	border: none;
	padding: 1px;
	box-shadow: 0 0 3px #a1a1a1;
}

.var-article-pagenav>div {
	float: left;
	height: 28px;
	width: auto;
	margin: 0px 8px;
	background: #fff;
	padding: 0px 4px;
	border: 1px solid rgba(161, 161, 161, .5);
}

.var-article-pagenav div>input {
	background: none;
	display: block;
	outline: none;
	border: none;
	float: left;
	margin: 0;
	width: 30px;
	height: 28px;
	padding: 0 4px;
	font-size: 16.5px;
	line-height: 28px;
	text-align: right;
}

.var-article-pagenav div>span {
	display: block;
	float: left;
	padding: 0px 4px;
	height: 28px;
	line-height: 28px;
}

@media (max-width: 1100px) {
	.arrticle-top {
		width: calc(100% - 358px);
	}
	.arrticle-content {
		width: 350px;
		height: calc(200px - 8px);
		padding: 4px;
	}
	.arrticle-content>h3 {
		height: 35px;
		line-height: 35px;
	}
	.arrticle-content-ul {
		height: calc(100% - 35px);
	}
	.arrticle-content-ul>ul {
		height: 60px;
	}
	.arrticle-content-ul>ul>li {
		width: 50%;
	}
	.arrticle-content-excertp {
		height: calc(100% - 60px);
	}
}

@media (max-width: 750px) {
	.arrticle {
		height: 400px;
	}
	.arrticle-top-nav {
		display: none;
	}
	.arrticle-top,
	.arrticle-content {
		height: 200px;
		width: 100%;
		float: none;
		padding: 0;
	}
	.arrticle-content-ul>ul {
		height: 30px;
	}
	.arrticle-content-ul>ul>li {
		width: auto;
	}
	.arrticle-content-excertp {
		height: calc(100% - 46px);
		width: calc(100% - 16px);
		padding: 8px;
	}
}

@media (max-width: 480px) {
	.var-article {
		width: calc(100% - 8px);
		padding: 4px;
		margin: 4px 0;
	}
	.arrticle-content-ul>ul {
		height: 60px;
	}
	.arrticle-content-ul>ul>li {
		width: 50%;
	}
	.arrticle-content-excertp {
		padding: 2px;
		overflow: hidden;
		line-height: 20px;
		width: calc(100% - 4px);
		height: calc(100% - 64px);
	}
	.var-article-pagenav {
		position: relative;
		height: 65px;
	}
	.var-article-pagenav>a[class='pagenav-next'] {
		float: right;
	}
	.var-article-pagenav>a:first-child {
		float: left;
	}
	.var-article-pagenav>div {
		position: absolute;
		margin: 0;
		top: 35px;
		left: 50%;
		float: none;
		min-width: 120px;
		transform: translate(-50%);
	}
}


/**
 * ==========================================================
 * ************ sidebar ************ 
 * ========================================================== 
 */

body.var-body-sidebar {
	position: fixed;
	top: 0;
	left: 301px;
	width: calc(100% - 301px);
	height: 100%;
	transition: all .3s;
	background: #f1f1f1;
	z-index: 100;
}

.var-sidebar {
	z-index: 200;
	position: fixed;
	top: 0;
	left: 0;
	width: 90%;
	height: 100%;
	background: #fff;
	max-width: 300px;
	transition: all .3s;
	/*will-change: transform;*/
	border-right: 1px solid #d1d1d1;
}

.var-sidebar-top {
	width: 100%;
	height: 200px;
	position: relative;
	background-image: linear-gradient(45deg, #9cf 0%, #cff 100%);
}

.var-sidebar-top-btn {
	width: calc(100% - 20px);
	height: 30px;
	padding: 10px;
}

.var-sidebar-top-btn>a {
	display: block;
	width: 30px;
	height: 30px;
	float: right;
	margin: 0 auto;
	cursor: pointer;
}

.var-sidebar-top-btn>a:hover {
	text-shadow: 1px 1px 2px #a1a1a1;
}

.var-sidebar-top-img {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 0 0 3px #a1a1a1;
}

.var-sidebar-top-img>img {
	width: 100%;
	height: auto;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.var-sidebar-div {
	width: 100%;
	height: calc(100% - 200px);
	overflow-y: auto;
}

.var-sidebar-div a {
	color: #08f;
}

.var-sidebar-div a:hover {
	color: #f00;
}

.var-sidebar-div>span {
	display: block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	padding-top: 50px;
	color: rgba(0, 0, 0, .7);
}

.var-sidebar-div>ul {
	padding-left: 100px;
	width: calc(100% - 100px);
}

.var-sidebar-div-li {
	height: 30px;
	padding: 1px 0px;
	line-height: 30px;
}

.var-sidebar-div-li>a {
	display: inline-block;
	height: 30px;
	padding: 0 8px;
	cursor: pointer;
	line-height: 30px;
	text-decoration: none;
}

.var-sidebar-div-li>a>i {
	padding: 3px;
	float: left;
}

.var-sidebar-div-li>a>span {
	float: left;
	display: block;
	height: 30px;
	line-height: 30px;
}

@media (max-width: 1024px) {
	body.var-body-sidebar {
		left: 81px;
		width: calc(100% - 81px);
	}
	.var-sidebar {
		max-width: 80px;
	}
	.var-sidebar-top {
		height: 150px;
	}
	.var-sidebar-top-btn>a {
		float: none;
		transform: rotate(180deg);
	}
	.var-sidebar-top-img {
		width: 60px;
		height: 60px;
		margin-top: 10px;
		border-radius: 50%;
	}
	.var-sidebar-div {
		height: calc(100% - 150px);
	}
	.var-sidebar-div>span {
		display: none;
	}
	.var-sidebar-div>ul {
		width: 100%;
		padding-left: 0;
	}
	.var-sidebar-div-li {
		width: 30px;
		margin: 10px auto;
	}
	.var-sidebar-div-li>a {
		padding: 0;
	}
	.var-sidebar-div-li>a>span {
		display: none;
	}
}

@media (max-width: 600px) {
	body.var-body-sidebar {
		left: 0;
		width: 100%;
	}
	.var-sidebar {
		transform: translate(-100%);
		max-width: 300px;
	}
	.var-sidebar-top {
		height: 200px;
	}
	.var-sidebar-top-btn>a {
		float: right;
		transform: rotate(0deg);
	}
	.var-sidebar-top-img {
		width: 180px;
		height: 180px;
		margin-top: 0px;
		border-radius: 8%;
	}
	.var-sidebar-div {
		height: calc(100% - 200px);
	}
	.var-sidebar-div>ul {
		width: 70%;
		padding-top: 30px;
		padding-left: 30%;
	}
	.var-sidebar-div-li {
		width: auto;
		margin: 0;
	}
	.var-sidebar-div-li>a {
		padding: 0 4px;
	}
	.var-sidebar-div-li>a>span {
		display: block;
	}
}

.var-sidebar-cover_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 180;
	display: none;
	background: rgba(0, 0, 0, .2);
}


/* end # sidebar */

body.var-sidebar-mini {
	left: 81px;
	width: calc(100% - 81px);
}

body.var-sidebar-mini .var-sidebar {
	max-width: 80px;
}

body.var-sidebar-mini .var-sidebar-top {
	height: 150px;
}

body.var-sidebar-mini .var-sidebar-top-btn>a {
	float: none;
	transform: rotate(180deg);
}

body.var-sidebar-mini .var-sidebar-top-img {
	width: 60px;
	height: 60px;
	margin-top: 10px;
	border-radius: 50%;
}

body.var-sidebar-mini .var-sidebar-div {
	height: calc(100% - 150px);
}

body.var-sidebar-mini .var-sidebar-div>span {
	display: none;
}

body.var-sidebar-mini .var-sidebar-div>ul {
	width: 100%;
	padding-left: 0;
}

body.var-sidebar-mini .var-sidebar-div-li {
	width: 30px;
	margin: 10px auto;
}

body.var-sidebar-mini .var-sidebar-div-li>a {
	padding: 0;
}

body.var-sidebar-mini .var-sidebar-div-li>a>span {
	display: none;
}


/* end # sidebar->mini */

body.var-sidebar-normal .var-sidebar {
	transform: translate(0);
	width: 90%;
	max-width: 300px;
}

body.var-sidebar-normal .var-sidebar-top {
	height: 200px;
}

body.var-sidebar-normal .var-sidebar-top-btn>a {
	float: right;
	transform: rotate(0deg);
}

body.var-sidebar-normal .var-sidebar-top-img {
	width: 180px;
	height: 180px;
	margin-top: 0px;
	border-radius: 8%;
}

body.var-sidebar-normal .var-sidebar-div {
	height: calc(100% - 200px);
}

body.var-sidebar-normal .var-sidebar-div>ul {
	width: 70%;
	padding-top: 30px;
	padding-left: 30%;
}

body.var-sidebar-normal .var-sidebar-div-li {
	width: auto;
	margin: 0;
}

body.var-sidebar-normal .var-sidebar-div-li>a {
	padding: 0 4px;
}

body.var-sidebar-normal .var-sidebar-div-li>a>span {
	display: block;
}

body.var-sidebar-normal .var-sidebar-cover_layer {
	display: block;
}


/* end # sidebar->normal */


/**
 * ==========================================================
 * ************ page_post ************ 
 * ========================================================== 
 */

.var-page_post {
	width: 100%;
	margin: 0 auto;
	background: #fff;
	max-width: 1280px;
	margin-bottom: 16px;
	box-shadow: 0 0 3px #a1a1a1;
}

.var-page_post-top {
	width: 100%;
}

.var-page_post-top>span {
	width: calc(100% - 16px);
	height: 35px;
	display: block;
	padding: 0 8px;
	padding-top: 8px;
	line-height: 35px;
}

.var-page_post-top>ul {
	list-style: none;
	width: 100%;
	height: 30px;
}

.var-page_post-top>ul>li {
	padding: 0 4px;
	height: 30px;
	padding: 0 4px;
	float: left;
}

.var-page_post-top li>i {
	float: left;
	padding: 3px;
}

.var-page_post-top li>a {
	text-decoration: none;
	display: block;
	float: left;
	height: 30px;
	padding: 0 2px;
	line-height: 30px;
}

.var-page_post-content {
	width: calc(100% - 16px);
	/*word-wrap: break-word;
	table-layout: fixed;*/
	padding: 8px;
}

.var-page_post-content hr {
	margin: 8px 0;
}

.var-page_post-content a {
	text-decoration: none;
	padding: 0 4px;
}

.var-page_post-content img {
	max-width: 100%;
	height: auto;
}

.var-page_post-content blockquote {
	border-left: 4px solid #ddd;
	padding: 0px 0px 0px 16px;
	margin: 4px 0px 4px 10px;
	width: calc(100% - 30px);
}

.var-page_post-content blockquote>p {
	margin: 0;
}

.var-page_post-content ol,
.var-page_post-content ul {
	width: calc(100% - 30px);
	padding-left: 30px;
	margin: 4px 0;
}

.var-page_post-content pre {
	border: 1px solid #d1d1d1;
	width: calc(100% - 10px);
	overflow-x: auto;
	margin: 4px 0;
	padding: 4px;
}

.var-page_post-content pre>code {
	line-height: 25px;
}

.var-page_post-content p {
	margin: 5px 0;
	line-height: 25px;
	width: 100%;
}

.var-page_post-content h1 {
	margin: 10px 0;
	font-size: 2em;
}

.var-page_post-content h2 {
	margin: 12px 0;
	font-size: 1.8em;
}

.var-page_post-content h3 {
	margin: 15px 0;
	font-size: 1.5em;
}

.var-page_post-content h4 {
	margin: 18px 0;
	font-size: 1em;
}

.var-page_post-content h5 {
	margin: 20px 0;
	font-size: .9em;
}

.var-page_post-content h6 {
	margin: 25px 0;
	font-size: .8em;
}

.var-page_post-nav {
	width: 100%;
	height: 30px;
}

.var-page_post-nav>a {
	color: #08f;
	float: left;
	width: 80px;
	height: 30px;
	margin: 0 10px;
	background: #fff;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	border: 1px solid rgba(161, 161, 161, .4);
}

.var-page_post-nav>a:hover {
	color: #f00;
	padding: 1px;
	border: none;
	box-shadow: 0 0 3px #a1a1a1;
}


/**
 * ==========================================================
 * ************ comments ************ 
 * ========================================================== 
 */

.var-comments {
	padding: 8px;
	margin: 0 auto;
	margin-top: 16px;
	background: #fff;
	max-width: 1280px;
	width: calc(100% - 16px);
	box-shadow: 0 0 3px #a1a1a1;
}

.var-comments-top {
	width: 100%;
	height: 40px;
}

.var-comments-top>a {
	cursor: pointer;
	display: block;
	height: 40px;
	float: left;
}

.var-comments-top>a>span {
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
}

.var-comments-top>a>span[class="var-comments-top-1"] {
	font-size: 20px;
	padding-right: 3px;
}

.var-comments-top>a>span[class="var-comments-top-2"] {
	opacity: 0;
	margin-left: 30px;
	transition: all .2s;
}

.var-comments-top>a:hover>span[class="var-comments-top-2"] {
	opacity: 1;
	margin-left: 0;
}

.var-comments-top>.var-article-pagenav {
	width: auto;
	float: right;
	padding: 5px 0;
}

.var-comments-top>.var-article-pagenav>* {
	margin: 0 4px;
}

.var-comments-body {
	width: 100%;
	display: table;
}

.var-comments-body>span {
	width: 100%;
	height: 30px;
	display: block;
	font-size: 20px;
	line-height: 30px;
}

.var-comments-body>form {
	width: 100%;
}

.var-comments-body>form input[type="submit"] {
	color: #08f;
	outline: none;
}

.var-comments-body>form input[type="submit"]:hover {
	color: #f00;
}

.var-comments-form-top {
	width: 100%;
	height: 30px;
}

.var-comments-form-top>* {
	display: block;
	float: left;
	height: 30px;
	line-height: 30px;
}

.var-comments-form-top a {
	text-decoration: none;
}

.var-comments-form-top>span>a {
	display: inline-block;
	height: 30px;
	margin: 0px 8px;
	line-height: 30px;
}

.var-comments-form-top>.var-comments-form-top-2>span {
	color: #f00;
}

.var-comments-admin {
	width: 100%;
}

.var-comments-admin>.var-comments-remember {
	width: 100%;
	height: 100px;
}

.var-comments-admin>input {
	cursor: pointer;
	width: 100px;
	height: 30px;
	margin: 4px 0;
	padding: 0px 8px;
	background: #fff;
	border: 1px solid #ddd;
}

.var-comments-input {
	width: 100%;
	height: 140px;
	position: relative;
}

.var-comments-input>ul {
	float: left;
	width: 200px;
	height: 140px;
}

.var-comments-input>ul>li {
	width: calc(100% - 2px);
	height: 28px;
	margin: 4px 0;
	border: 1px solid #ddd;
}

.var-comments-input li>input {
	background: none;
	outline: none;
	border: none;
	height: 28px;
	padding: 0px 3px;
	line-height: 28px;
	width: calc(100% - 6px);
}

.var-comments-input>.var-comments-remember {
	float: left;
	padding: 4px;
	padding-right: 0px;
	width: calc(100% - 204px);
	height: calc(140px - 8px);
}

.var-comments-remember>textarea {
	width: calc(100% - 10px);
	outline: none;
	height: calc(100% - 10px);
	padding: 4px;
	line-height: 22px;
	border: 1px solid #ddd;
	resize: none;
}

.var-comments-input>input {
	position: absolute;
	cursor: pointer;
	top: 106px;
	left: 0;
	width: 200px;
	height: 30px;
	background: #fff;
	border: 1px solid #ddd;
}

.var-comments-ol ol,
.var-comments-ol ul {
	list-style: none;
}

.comments-body {
	padding: 4px;
	margin: 10px 0;
	padding-right: 0;
	border-radius: 4px;
	box-shadow: 0 0 3px #a1a1a1;
}

.comments-top {
	height: 60px;
	width: ;
}

.comments-top>img {
	float: left;
	width: 55px;
	height: 55px;
	margin: 2.5px;
	border-radius: 50%;
	box-shadow: 0 0 3px #a1a1a1;
}

.comments-top>ul {
	width: calc(100% - 60px);
	height: 60px;
	float: left;
}

.comments-top>ul>li {
	height: 30px;
	line-height: 30px;
}

.comments-top>ul>li a {
	float: left;
	height: 30px;
	line-height: 30px;
	padding-left: 4px;
	display: inline-block;
	text-decoration: none;
}

.comments-top>ul>li>span {
	display: inline-block;
	cursor: pointer;
	height: 30px;
}

.comments-top>ul>li>span>a:last-child {
	opacity: 0;
	margin-left: 30px;
	transition: all .2s;
}

.comments-top>ul>li>span:hover a:last-child {
	opacity: 1;
	margin-left: 0px;
}

.comments-content {
	width: 100%;
}

.comments-content>p {
	margin: 0;
	line-height: 25px;
}

.comment-children .comments-body {
	width: calc(100% - 24px);
	padding-right: 0;
	margin-left: 10px;
	margin-bottom: 5px;
	border-left: 5px solid #ddd;
}

.comment-children .comment-author {
	border-left: 5px solid #09e;
}

@media (max-width: 660px) {
	.var-comments-top {
		height: 70px;
		position: relative;
	}
	.var-comments-top>.var-article-pagenav {
		position: absolute;
		top: 40px;
		left: 100%;
		padding: 0;
		transform: translate(-100%);
	}
}

@media (max-width: 600px) {
	.var-comments-top>.var-article-pagenav>div {
		display: none;
	}
	.var-page_post-content {
		overflow-x: auto;
	}
	.var-page_post-top>ul {
		height: 90px;
	}
	.var-page_post-top>ul>li {
		width: 50%;
		padding: 0;
	}
	.var-page_post-top>ul>li:last-child {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.var-comments-input {
		display: table;
	}
	.var-comments-input>ul {
		float: none;
		width: 100%;
		height: 98px;
	}
	.var-comments-input>.var-comments-remember {
		width: 100%;
		padding: 4px 0px;
	}
	.var-comments-input>input {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
	}
}


/**
 * ==========================================================
 * ************ redt ************ 
 * ========================================================== 
 */

.var-redt-pagenav {
	position: fixed;
	top: 98%;
	right: 3%;
	width: 42px;
	height: 142px;
	overflow: hidden;
	transition: all .2s;
	transform: translate(0, -100%);
	z-index: 150;
}

.var-redt-pagenav a {
	width: 40px;
	height: 40px;
	display: block;
	margin: 4px 0px;
	cursor: pointer;
	background: #fff;
	line-height: 40px;
	text-align: center;
	border-radius: 4px;
	transition: all .2s;
	border: 1px solid #d1d1d1;
}

.var-redt-pagenav>a[class='var-redt-pagenav-btn-1'] {
	margin-top: -42px;
}

.var-redt-pagenav-div {
	width: 42px;
	height: 42px;
	margin: 4px 0px;
	overflow: hidden;
	transition: all .2s;
}

.var-redt-pagenav-div>a {
	margin: 0;
}

.var-redt-pagenav-div>ul {
	width: 40px;
	margin-top: 4px;
	list-style: none;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #d1d1d1;
}

.var-redt-pagenav-div>ul>li {
	height: 30px;
}

.var-redt-pagenav-div>ul>li>span {
	position: relative;
	display: block;
	width: 40px;
	height: 30px;
	font-size: .9em;
	cursor: pointer;
	line-height: 30px;
	text-align: center;
}

.var-redt-pagenav-div li>span::before {
	position: absolute;
	content: "";
	top: auto;
	left: 50%;
	width: 80%;
	bottom: 0px;
	transform: translate(-50%);
	border-bottom: 1px solid #d1d1d1;
}

.var-redt-pagenav-div li>span[class='pagenav-sapn-4']::before {
	border-bottom: none;
}

.var-redt-pagenav-block {
	height: 269px;
}

.var-redt-pagenav-block>.var-redt-pagenav-div {
	height: 169px;
}

.var-redt-pagenav-block>.var-redt-pagenav-div>a>i {
	transform: rotate(180deg);
}


/**
 * ==========================================================
 * ************ footer ************ 
 * ========================================================== 
 */

.var-footer {
	width: 100%;
	height: 40px;
	background: #fff;
	line-height: 40px;
	text-align: center;
	border-top: 1px solid #d1d1d1;
}

.var-footer>a {
	color: #08f;
	text-decoration: none;
}

.var-footer>a:hover {
	color: #f00;
}


/**
 * ==========================================================
 * ************ theme ************ 
 * ========================================================== 
 */

body.body-theme {
	font-size: .96em;
	background: #f1f1f1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

body.body-theme .theme-typo a {
	position: relative;
	cursor: pointer;
	color: #08f;
}

body.body-theme .theme-typo a::before {
	position: absolute;
	content: "";
	width: 0;
	top: auto;
	left: 50%;
	bottom: 2px;
	transition: all .3s;
	transform: translate(-50%);
	border-bottom: 1px solid #f00;
}

body.body-theme .theme-typo a:hover {
	color: #f00;
}

body.body-theme .theme-typo a:hover::before {
	width: calc(100% - 8px);
}


/* 过滤 */

body.body-theme .theme-typo .var-page_post-content a::before {
	border-bottom: none;
}