@charset "utf-8";

/**
 * ==========================================================
 * ************ sidebar ************ 
 * ========================================================== 
 */

body.var-body-sidebar {
	position: fixed;
	top: 0px;
	left: 300px;
	width: calc(100% - 300px);
	height: 100%;
}

.var-sidebar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 90%;
	height: 100%;
	z-index: 141;
	max-width: 299px;
	background: #f1f1f1;
	border-right: 1px solid #e1e1e1;
}

.var-sidebar,
.var-sidebar-top,
.var-sidebar-img,
.var-sidebar-div,
body.var-body-sidebar {
	transition: all .3s;
}

body.mdui-theme-layout-dark>.var-sidebar {
	background: #a1a1a1;
}

.var-sidebar-top {
	width: 100%;
	height: 200px;
	position: relative;
	background-image: linear-gradient(45deg, #9cf 0%, #cff 100%);
}

.var-sidebar-btn {
	width: calc(100% - 20px);
	padding: 10px;
	height: 30px;
}

.var-sidebar-btn>span {
	display: block;
	margin: 0 auto;
	width: 30px;
	height: 30px;
	float: right;
	border-radius: 50%;
	transition: border-radius .3s;
}

.var-sidebar-btn>span>i {
	padding: 3px;
}

.var-sidebar-btn>span:hover {
	cursor: pointer;
	border-radius: 4px;
}

.var-sidebar-img {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 16px;
	box-shadow: 0 0 5px #a1a1a1;
}

.var-sidebar-img>img {
	width: 100%;
	height: auto;
	background-size: cover;
}

.var-sidebar-div {
	width: 100%;
	height: calc(100% - 200px);
	overflow-y: auto;
}

.var-sidebar-div>span {
	display: block;
	width: 100%;
	height: 30px;
	padding-top: 50px;
	line-height: 30px;
	text-align: center;
}

.var-sidebar-div>ul {
	margin: 0;
	padding: 0;
	width: 65%;
	padding-left: 35%;
}

.var-sidebar-div-li {
	display: block;
	width: 100%;
	height: 30px;
	text-align: left;
}

.var-sidebar-div-li>a {
	display: inline-block;
	cursor: pointer;
	height: 30px;
	padding: 0px 8px;
	margin: 0px auto;
}

.var-sidebar-div-li>a>i {
	padding: 3px;
	float: left;
}

.var-sidebar-div-li>a>span {
	display: block;
	height: 30px;
	line-height: 30px;
	float: left;
}

.var-sidebar-nav {
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 140;
	background: rgba(0, 0, 0, .4);
}

.var-sidebar-nav-block {
	display: block;
}

@media (max-width: 1024px) {
	body.var-body-sidebar {
		left: 80px;
		width: calc(100% - 80px);
	}
	.var-sidebar {
		max-width: 79px;
	}
	.var-sidebar-top {
		height: 150px;
	}
	.var-sidebar-btn>span {
		float: none;
		transform: rotate(180deg);
	}
	.var-sidebar-img {
		width: 70px;
		height: 70px;
		margin-top: 5px;
		border-radius: 50%;
	}
	.var-sidebar-div {
		height: calc(100% - 150px);
	}
	.var-sidebar-div>span {
		display: none;
	}
	.var-sidebar-div>ul {
		padding: 0px;
		width: 100%;
	}
	.var-sidebar-div-li {
		text-align: center;
		margin: 16px 0px;
	}
	.var-sidebar-div-li>a>span {
		display: none;
	}
}

@media (max-width: 600px) {
	body.var-body-sidebar {
		left: 0px;
		width: 100%;
	}
	.var-sidebar {
		max-width: 299px;
		transform: translate(-100%);
	}
	.var-sidebar-top {
		height: 150px;
	}
	.var-sidebar-btn {
		padding: 5px 10px;
	}
	.var-sidebar-btn>span {
		float: right;
		transform: rotate(0deg);
	}
	.var-sidebar-img {
		width: 150px;
		height: 150px;
		margin-top: 0px;
		border-radius: 16px;
	}
	.var-sidebar-div {
		height: calc(100% - 150px);
	}
	.var-sidebar-div>ul {
		padding-top: 50px;
		width: 50%;
		padding-left: 30%;
	}
	.var-sidebar-div-li {
		text-align: left;
		margin: 0px;
	}
	.var-sidebar-div-li>a>span {
		display: block;
	}
}


/* mini */

body.var-sidebar-mini {
	left: 80px;
	width: calc(100% - 80px);
}

body.var-sidebar-mini .var-sidebar {
	max-width: 79px;
}

body.var-sidebar-mini .var-sidebar-top {
	height: 150px;
}

body.var-sidebar-mini .var-sidebar-btn>span {
	float: none;
	transform: rotate(180deg);
}

body.var-sidebar-mini .var-sidebar-img {
	width: 70px;
	height: 70px;
	margin-top: 5px;
	border-radius: 50%;
}

body.var-sidebar-mini .var-sidebar-div {
	height: calc(100% - 150px);
}

body.var-sidebar-mini .var-sidebar-div>span {
	display: none;
}

body.var-sidebar-mini .var-sidebar-div>ul {
	padding: 0px;
	width: 100%;
}

body.var-sidebar-mini .var-sidebar-div-li {
	text-align: center;
	margin: 16px 0px;
}

body.var-sidebar-mini .var-sidebar-div-li>a>span {
	display: none;
}


/* normal */

.var-sidebar-normal .var-sidebar {
	max-width: 299px;
	transform: translate(0);
}

.var-sidebar-normal .var-sidebar-top {
	height: 150px;
}

.var-sidebar-normal .var-sidebar-btn {
	padding: 5px 10px;
}

.var-sidebar-normal .var-sidebar-btn>span {
	float: right;
	transform: rotate(0deg);
}

.var-sidebar-normal .var-sidebar-img {
	width: 150px;
	height: 150px;
	margin-top: 0px;
	border-radius: 16px;
}

.var-sidebar-normal .var-sidebar-div {
	height: calc(100% - 150px);
}

.var-sidebar-normal .var-sidebar-div>ul {
	padding-top: 50px;
	width: 50%;
	padding-left: 30%;
}

.var-sidebar-normal .var-sidebar-div-li {
	text-align: left;
	margin: 0px;
}

.var-sidebar-normal .var-sidebar-div-li>a>span {
	display: block;
}