* {
	margin: 0;
	padding: 0;
}
div {
table-layout: fixed;
word-wrap: break-word;
}
a {
	text-decoration: none;
}

a,
span {
	color: #8cf !important;
}

ul {
	list-style: none;
}

body {
	font-size: .9em;
	background-size: cover;
	background-repeat: no-repeat;
}

@media (max-width: 600px) {
	.var-min-600-none {
		display: none !important;
	}
	.var-min-600-block {
		display: block !important;
	}
}

@media (min-width: 601px) {
	.var-min-600-none {
		display: block !important;
	}
	.var-min-600-block {
		display: none !important;
	}
}

.var-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -2;
}

.var-background:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: inherit;
	filter: blur(2px);
}


/**
 * =========================================================
 * ************   header 导航   ************
 * =========================================================
 */

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}


/*.header:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: inherit;
	filter: blur(2px);
}*/


/*| end > nav # header |*/

.var-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: rgba-(220, 220, 220, .9);
	z-index: 2;
	border-bottom: 1px solid #ddd;
}

.var-nav .mdui-toolbar {
	height: 50px;
	line-height: 50px;
}

.var-nav .mdui-btn-icon {
	transition: all .3s;
	width: 50px !important;
	height: 50px !important;
}

.var-nav .mdui-btn-icon:hover {
	border-radius: 3px;
	background: rgba(60, 60, 60, .2);
}

.var-nav a {
	text-align: center;
	font-size: 20px;
	text-shadow: 0 0 1px #-000;
}

.var-nav span {
	color: #8cf;
	text-shadow: 0 0 1px #-000;
	font-size: 20px;
	margin: 0 8px !important;
}


/*| end > search # header |*/

header.header-search {
	height: 100px;
}

header.header-search>.var-search {
	display: block;
}

.var-search {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 50px;
	transition: all .5s;
	z-index: 1;
}

.var-search>form {
	position: relative;
	top: 100%;
	left: 0;
	background: #fff;
	width: 96%;
	height: 30px;
	margin: 0 auto;
	max-width: 1280px;
	line-height: 30px;
	border-radius: 5px;
	transform: translate(0, -100%);
	box-shadow: 0 0 2px #000;
}

.var-search input,
.var-search button {
	border: none;
	outline: none;
	background: none;
}

.var-search input {
	display: block;
	width: calc(100% - 60px);
	height: 30px;
	line-height: 30px;
	text-align: left;
	float: left;
}

.var-search a,
.var-search button {
	display: block;
	width: 30px;
	float: left;
	height: 30px;
	cursor: pointer;
	text-shadow: none;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	transition: all .5s;
	color: #000 !important;
}

.var-search a:hover,
.var-search button:hover {
	border-radius: 5px;
	background: rgba(0, 0, 0, .3);
}


/*| end > music # header |*/

.var-music {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 3;
}
/**
 * =========================================================
 * ************   index   ************
 * =========================================================
 */


/*.index-search {
	height: calc(100% - 100px) !important;
	padding-top: 100px !important;
}*/

.index {
	position: absolute;
	margin: 0;
	width: 100%;
	height: calc(100% - 50px);
	margin-top: 50px;
	overflow-y: auto;
	transition: all .5s;
}


/*| end > arrticle # header |*/

.arrticle {
	width: calc(96% - 20px);
	max-width: 1280px;
	padding: 10px;
	background: rgba(220, 220, 220, .9);
	margin: 50px auto;
	display: table;
	border-radius: 5px;
}

.arrticle-div {
	margin: 50px auto;
	width: 100%;
	max-width: 1024px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 1px #000;
	position: relative;
	display: table;
}

.arrticle-div:hover {
	box-shadow: 0 0 5px #000;
}


/*| end > img # index |*/

.arrticle-img {
	position: relative;
	width: calc(100% - 470px);
	height: 200px;
	float: left;
	transition: all .5s;
}

.arrticle-img>a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 5px 0 0 5px;
}

.arrtitle-a-img {
	width: 100%;
	height: 100%;
	transition: all .5s;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.arrticle-img:hover .arrtitle-a-img {
	transform: scale(1.2);
}

.arrticle-img-nav {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	cursor: pointer;
	line-height: 50px;
	text-align: center;
	transition: all .5s;
	box-shadow: 0 0 1px #ddd;
	transform: translate(-50%, -50%) rotate(45deg);
	background: rgba(255, 255, 255, .75);
}

.arrticle-img-nav>a {
	display: block;
	text-shadow: 0 0 1px #-000;
	transition: all .5s;
	transform: rotate(-45deg);
}

.arrticle-img-nav:hover {
	transform: translate(-50%, -50%) rotate(90deg);
	background: rgba(255, 255, 255, .3);
}

.arrticle-img-nav:hover>a {
	transform: rotate(-90deg);
}

.arrticle-img-nav-nav {
	position: absolute;
	top: 0;
	right: 0;
	border-right: 60px solid #fff;
	border-top: 200px solid transparent;
}


/*| end > content # index |*/

.arrticle-content {
	position: relative;
	width: 470px;
	height: 200px;
	float: left;
	transition: all .5s;
}

.arrticle-content>span {
	display: block;
	width: calc(100% - 20px);
	padding: 0 10px;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
}

.arrticle-content-ul {
	width: 100%;
	height: calc(100% - 50px);
}

.arrticle-content-ul ul {
	width: 100%;
	display: table;
}

.arrticle-content-ul li {
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
}

.arrticle-content-span {
	height: calc(100% - 50px);
	width: calc(100% - 20px);
	padding: 10px;
}

@media (max-width: 1100px) {
	.arrticle-img {
		width: calc(100% - 350px);
	}
	.arrticle-content {
		width: 350px;
	}
	.arrticle-content>span {
		height: 40px;
		line-height: 40px;
	}
	.arrticle-content-ul li {
		width: calc(50% - 20px);
		padding: 0 10px;
	}
	.arrticle-content-span {
		width: calc(100% - 10px);
		height: calc(100% - 55px);
		padding-top: 0;
		padding-left: 0;
		padding-right: 10px;
		padding-bottom: 5px;
	}
}

@media (max-width: 750px) {
	.arrticle-img {
		width: 100%;
		float: none;
	}
	.arrticle-img>a {
		border-radius: 5px 5px 0 0;
	}
	.arrticle-content {
		float: none;
		width: 100%;
	}
	.arrticle-img-nav-nav {
		display: none;
	}
	.arrticle-content>span {
		height: 50px;
		line-height: 50px;
	}
	.arrticle-content-span {
		width: calc(100% - 20px);
		height: calc(100% - 65px);
		padding-top: 0;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 5px;
	}
}


/*| end > page-navigator # header |*/

.page {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto 30px;
}

.page-navigator {
	display: table;
	list-style: none;
	float: left;
}

.page-navigator>li {
	border: 1px solid #ccc;
	float: left;
	margin: 0 1px;
	width: 26px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background: #fff;
	border-radius: 3px;
}

.page-navigator>li[class="prev"],
.page-navigator>li[class="next"] {
	width: 78px;
}

.page div {
	height: 28px;
	margin: 0 auto;
	display: table;
	padding: 0 10px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #ccc;
}

.page div>input {
	width: 28px;
	height: 28px;
	border-radius: 3px;
	border: none;
	outline: none;
	background: none;
	text-align: center;
}

@media (max-width: 600px) {
	.page {
		width: 100%;
		height: 70px;
	}
	.page ol {
		float: none;
		margin: 0 auto 10px;
	}
	.page div {
		float: none;
	}
}


/**
 * =========================================================
 * ************   sidebar 抽屉   ************
 * =========================================================
 */

body.sidebar-body,
body.sidebar-body>.sidebar,
body.sidebar-body>.sidebar * {
	transition: all .5s;
}

body.sidebar-body {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	margin-left: 300px;
	width: calc(100% - 300px);
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 80%;
	height: 100%;
	max-width: 300px;
	background: rgba-(220, 220, 220, .9);
	background: #fff;
	border-right: 1px solid #ddd;
	z-index: 200;
}


/*| end > logo # sidebar |*/

.sidebar-logo {
	position: relative;
	width: 100%;
	height: 200px;
	background-image: linear-gradient(45deg, #0fbeff 30%, #86a9f8 80%);
}

.sidebar-logo-btn {
	width: calc(100% - 10px);
	height: 40px;
	padding: 5px;
}

.sidebar-logo-btn a {
	display: block;
	width: 40px;
	color: #8cf;
	height: 40px;
	float: right;
	cursor: pointer;
	border-radius: 50%;
	transition: all .5s;
	text-shadow: 0 0 1px #-000;
}

.sidebar-logo-btn a>i {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 35px;
}

.sidebar-logo-btn a:hover {
	border-radius: 5px;
	background: rgba(0, 0, 0, .2);
}

.sidebar-logo-img {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 0 0 3px #fff;
}

.sidebar-logo-img>img {
	width: 100%;
	height: auto;
	background-size: cover;
}


/*| end > content # sidebar |*/

.sidebar-content {
	width: 100%;
	height: calc(100% - 200px);
	text-align: center;
	overflow-y: auto;
}

.sidebar-content>span {
	display: block;
	padding-top: 50px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: rgba(0, 0, 0, .75) !important;
	cursor: default;
}

.sidebar-content>ul {
	width: 70%;
	display: table;
	padding-left: 30%;
}

.sidebar-content-li {
	width: 100%;
	height: 40px;
	line-height: 40px;
	display: table;
}

.sidebar-content-li a {
	float: left;
	height: 30px;
	display: block;
	padding: 0 10px;
	font-size: 20px;
	cursor: pointer;
	margin: 5px auto;
	text-align: left;
	line-height: 30px;
	transition: all 0s !important;
	width: calc(100% - 20px);
	text-shadow: 0 0 1px #-000;
}

.sidebar-content-li a>* {
	float: left;
}

@media (max-width: 600px) {
	body.sidebar-body {
		margin-left: 0px;
		width: 100%;
	}
	body.sidebar-body>.sidebar {
		transform: translate(-100%, 0);
		/*background: #fff;*/
	}
}

@media (min-width: 601px) and (max-width: 1024px) {
	body.sidebar-body {
		margin-left: 80px;
		width: calc(100% - 80px);
	}
	body.sidebar-body>.sidebar {
		max-width: 80px;
	}
	.sidebar-logo-btn {
		height: 70px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.sidebar-logo-btn>a {
		float: none;
		margin: 0 auto;
		transform: rotate(180deg);
	}
	.sidebar-logo-img {
		width: 70px;
		height: 70px;
	}
	.sidebar-content>span {
		display: none;
	}
	.sidebar-content>ul {
		width: 100%;
		padding-left: 0;
	}
	.sidebar-content-li {
		padding: 5px 0;
	}
	.sidebar-content-li a {
		text-align: center;
	}
	.sidebar-content-li a>* {
		float: none;
	}
	.sidebar-content-li a>span {
		display: none;
	}
}


/*| end > drawer > mini #sidebar |*/

body.sidebar-drawer-mini {
	width: calc(100% - 80px);
	margin-left: 80px;
}

body.sidebar-drawer-mini>.sidebar {
	max-width: 80px;
}

body.sidebar-drawer-mini>.sidebar .sidebar-logo-btn {
	height: 70px;
	padding-top: 10px;
	padding-bottom: 10px;
}

body.sidebar-drawer-mini>.sidebar .sidebar-logo-btn>a {
	float: none;
	margin: 0 auto;
	transform: rotate(180deg);
}

body.sidebar-drawer-mini>.sidebar .sidebar-logo-img {
	width: 70px;
	height: 70px;
}

body.sidebar-drawer-mini>.sidebar .sidebar-content>span {
	display: none;
}

body.sidebar-drawer-mini>.sidebar .sidebar-content>ul {
	width: 100%;
	padding-left: 0;
}

body.sidebar-drawer-mini>.sidebar .sidebar-content-li {
	padding: 5px 0;
}

body.sidebar-drawer-mini>.sidebar .sidebar-content-li a {
	text-align: center;
}

body.sidebar-drawer-mini>.sidebar .sidebar-content-li a>* {
	float: none;
}

body.sidebar-drawer-mini>.sidebar .sidebar-content-li a>span {
	display: none;
}


/*| end > drawer > normal #sidebar |*/

body.sidebar-drawer-normal>.sidebar {
	max-width: 300px !important;
	transform: translate(0, 0);
}

body.sidebar-drawer-normal>.sidebar .sidebar-logo-btn {
	height: 40px;
	padding: 5px;
}

body.sidebar-drawer-normal>.sidebar .sidebar-logo-btn>a {
	float: right;
	margin: 0 auto;
	transform: rotate(0deg);
}

body.sidebar-drawer-normal>.sidebar .sidebar-logo-img {
	width: 200px;
	height: 200px;
}

body.sidebar-drawer-normal>.sidebar .sidebar-content>span {
	display: block;
}

body.sidebar-drawer-normal>.sidebar .sidebar-content>ul {
	width: 70%;
	padding-left: 30%;
}

body.sidebar-drawer-normal>.sidebar .sidebar-content-li {
	padding: 0;
}

body.sidebar-drawer-normal>.sidebar .sidebar-content-li a {
	text-align: left;
}

body.sidebar-drawer-normal>.sidebar .sidebar-content-li a>* {
	float: left;
}

body.sidebar-drawer-normal>.sidebar .sidebar-content-li a>span {
	display: block;
}


/**
 * =========================================================
 * ************   foorer 页脚   ************
 * =========================================================
 */

.footer {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: rgba-(220, 220, 220, .9);
	border-top: 1px solid #ddd;
}

.footer a {
	text-shadow: 0 0 1px #-000;
}

.footer a:hover {
	text-shadow: none;
	color: #f00 !important;
}


/**
 * =========================================================
 * ************ post 文章    ************
 * =========================================================
 */

.post {
	width: calc(96% - 40px);
	max-width: 1440px;
	padding: 40px 20px;
	background: rgba(220, 220, 220, .75);
	margin: 50px auto;
	border-radius: 5px;
}

.post-content {
	width: calc(96% - 20px);
	max-width: 1280px;
	padding: 10px;
	margin: 0 auto;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 2px #000;
}

.post-content-top {
	width: 100%;
	height: 65px;
}

.post-content-top>span {
	display: block;
	width: calc(100% - 20px);
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	margin-top: 5px;
	font-size: 25px;
}

.post-content-top ul {
	width: 100%;
	height: 30px;
	padding: 0;
	margin: 0;
}

.post-content-top li {
	float: left;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
}

.post-content-span {
	width: calc(100% - 20px);
	padding: 0 10px;
	display: block;
}

.post-content-span img {
	max-width: 100%;
	height: auto;
}

.post-bot {
	width: calc(100% - 10px);
	padding: 5px;
	height: 30px;
	display: table;
	margin: 20px 0;
}

.post-bot-span {
	display: block;
	float: left;
	width: 100px;
	height: 30px;
	background: #fff;
	line-height: 30px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 0 2px #000;
}

.post-bot-span:hover {
	box-shadow: 0 0 1px rgba(0, 0, 0, .7);
}


/*| end > hujia # post |*/

.post-content-span * {
	padding: 0;
	margin: 8px 0;
}

.post-content-span hr {
	border: none;
	background: none;
	height: 0;
	border-top: 1px solid #ddd;
}

.post-content-span blockquote {
	width: calc(100% - 14px);
	border-left: 4px solid #ddd;
	padding-left: 10px;
}

.post-content-span ul,
.post-content-span ol {
	width: calc(100% - 20px);
	padding-left: 20px;
}

.post-content-span ul {
	list-style: disc;
}

@media (max-width: 1024px) {
	.post {
		width: calc(96% - 20px);
		padding: 10px;
	}
	.post-content {
		width: calc(100% - 20px);
	}
}

@media (max-width: 700px) {
	.post-content-top {
		width: 100%;
		height: 135px;
		display: table;
	}
	.post-content-top>span {
		width: calc(100% - 20px);
		padding: 0 10px;
		height: 40px;
		line-height: 40px;
		font-size: 25px;
	}
	.post-content-top>ul {
		width: 100%;
		height: 90px;
		display: table;
	}
	.post-content-top>ul>li {
		width: calc(50% - 20px);
		height: 30px;
		line-height: 30px;
		float: left;
	}
	.post-content-top>ul>li[class="post-ul-li"] {
		width: calc(100% - 20px);
	}
	.post-content-span {
		width: 100%;
		padding: 0;
	}
	.post-span-1 {
		float: left;
	}
	.post-span-2 {
		float: right;
	}
}


/**
 * =========================================================
 * ************ comments 评论	************
 * =========================================================
 */

.comments {
	width: calc(96% - 20px);
	max-width: 1280px;
	padding: 10px;
	margin: 0 auto;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 2px #000;
}

.comments-top {
	width: calc(100% - 10px);
	padding: 5px;
	height: 30px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}

.comments-top>a {
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	float: left;
	cursor: pointer;
	transition: all .5s;
	padding-right: 50px;
}

.comments-top>a>span {
	opacity: 0;
	margin-left: 20px;
	transition: all .5s;
}

.comments-top>a:hover>span {
	opacity: 1;
	margin-left: 0px;
}

.comments-top>ol {
	margin: 0 20px;
	float: right;
}

.comments-content {
	width: calc(100% - 20px);
	padding: 10px;
	border-radius: 5px;
	margin: 20px 0;
	box-shadow: 0 0 1px #000;
}

.comments-content-top {
	width: 100%;
	height: 65px;
}

.comments-content-top>img {
	width: 55px;
	height: 55px;
	margin: 5px;
	float: left;
	border-radius: 50%;
	box-shadow: 0 0 2px #000;
}

.comments-content-top>ul {
	width: calc(100% - 75px);
	height: 65px;
	float: left;
}

.comments-content-top>ul>li {
	width: 100%;
	height: 25px;
	margin: 5px 0;
	line-height: 30px;
	cursor: default;
}

.comments-content-top li>a {
	opacity: 0;
	margin-left: 20px;
	transition: all .3s;
}

.comments-content-top li:hover>a {
	opacity: 1;
	margin-left: 0px;
}

.comments-content-span {
	width: calc(100% - 20px);
	padding: 0 10px;
	line-height: 30px;
}

.comments-content-for .comments-content {
	width: calc(100% - 25px);
	margin-left: 5px;
	margin-right: 10px;
	padding-left: 5px;
	border-left: 5px solid #ddd;
	display: table;
}

.comments-content-for .comment-by-author {
	border-left: 5px solid #8cf;
}

.comments-allow {
	width: 100%;
	height: 201px;
	display: table;
}

.comments-allow-top {
	width: calc(100% - 20px);
	padding: 0 10px;
	padding-bottom: 10px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.comments-allow-top>.page-navigator {
	margin-right: 20px;
	float: right;
}

.comments-form {
	width: 100%;
	display: table;
}

.comments-form-ul {
	position: relative;
}

.comments-form-ul ul {
	width: 220px;
	height: 110px;
	display: table;
	padding-left: 5px;
	float: left;
}

.comments-form-ul li {
	width: 100%;
	height: 30px;
	margin: 5px 0;
}

.comments-form-ul li>input {
	width: calc(100% - 12px);
	height: 28px;
	line-height: 28px;
	padding: 0 5px;
	outline: none;
	border: 1px solid #ddd;
}

.comments-form-ul>.comments-form-text {
	width: calc(100% - 235px);
	height: 140px;
	padding: 5px;
	float: left;
}

.comments-form-text>textarea {
	width: calc(100% - 12px);
	height: calc(100% - 12px);
	padding: 5px;
	resize: none;
	outline: none;
	border: 1px solid #ddd;
}

.comments-form-ul>input {
	position: absolute;
	top: 110px;
	left: 5px;
	width: 220px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #ddd;
	background: #fff;
	font-size: 20px;
	cursor: pointer;
}

.comments-form-top {
	width: calc(100% - 20px);
	padding: 0 10px;
	display: table;
}

.comments-form-top>span {
	display: table;
	width: 100%;
	height: 30px;
	line-height: 30px;
}

.comments-form-top>span>a {
	padding: 0 10px;
	width: auto;
	height: 30px;
	line-height: 30px;
}

.comments-form-top>.comments-form-text {
	width: calc(100% - 10px);
	height: 90px;
	padding: 5px;
}

.comments-form-top>input {
	width: 100px;
	height: 35px;
	line-height: 35px;
	margin: 0 5px;
	background: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
}

@media (max-width: 1024px) {
	.comments {
		width: calc(100% - 20px);
	}
}

@media (max-width: 700px) {
	.comments-top {
		height: auto;
		width: 100%;
		padding: 5px 0;
		display: table;
	}
	.comments-top>a {
		width: 100%;
		padding: 0;
	}
	.comments-top>ol {
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.comments-content {
		width: calc(100% - 10px);
		padding: 5px;
	}
	.comments-allow>.comments-allow-top {
		width: calc(100% - 8px);
		padding: 0 4px;
		padding-bottom: 5px;
		margin-bottom: 5px;
		display: table;
	}
	.comments-allow-top>.page-navigator {
		margin: 0 auto;
	}
	.comments-form-ul {
		width: 100%;
		height: 250px;
		display: table;
	}
	.comments-form-ul li,
	.comments-form-ul>ul,
	.comments-form-ul>.comments-form-text {
		width: calc(100% - 10px);
		padding: 5px;
	}
	.comments-form-ul>input {
		position: static;
		width: calc(100% - 12px);
		padding: 0px;
		margin: 0 5px;
		margin-top: 5px;
	}
}


/**
 * =========================================================
 * ************	其他    ************
 * =========================================================
 */

.var-other-nav {
	position: fixed;
	top: 95%;
	right: 3%;
	width: 40px;
	height: 150px;
	overflow: hidden;
	margin-top: -150px;
	transition: all .5s;
	z-index: 90;
}

.var-other-nav a {
	display: block;
	width: 38px;
	height: 38px;
	margin: 5px 0;
	cursor: pointer;
	background: #fff;
	line-height: 38px;
	text-align: center;
	border-radius: 5px;
	transition: all .5s;
	border: 1px solid #ddd;
}

.var-other-nav a[class="other-a-top"] {
	margin-top: -45px;
}

.var-other-nav>div {
	width: 40px;
	height: 50px;
	transition: all .5s;
	overflow: hidden;
}

.var-other-nav ul {
	padding: 0;
	margin: 0;
	width: calc(100% - 2px);
	height: 160px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #ddd;
}

.var-other-nav ul>li {
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.var-other-nav li>span {
	display: block;
	width: calc(100% - 4px);
	height: 39px;
	margin: 0 2px;
	cursor: pointer;
	line-height: 39px;
	text-align: center;
	color: #000 !important;
	border-bottom: 1px solid #ddd;
}

.var-other-nav li>span[class="other-span-bot"] {
	border: none;
}

.other-block {
	height: 310px;
	margin-top: -310px;
}

.other-block div {
	height: 212px;
}




/**
 * =========================================================
 * ************	theme 主题    ************
 * =========================================================
 */
.header-theme{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 210;
	background: rgba(0,0,0,.4);
}
.theme-content{
	position: absolute;
	top: 50%;
	left: 50%;
	display: table;
	width: calc(80% - 20px);
	max-width: 1000px;
	padding: 10px;
	background: #fff;
	transform: translate(-50%,-50%);
}
.theme-content-div{
	display: flex;
	display: -webkit-flex;
	
}






















